<a href="https://colab.research.google.com/github/jmachima/Archaeology_News/blob/main/Archaeology_News_BERT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Text Classification with content from archaeology.org/news (with permission from the editor-in-chief of Archaeology - A publication of the Archaeological Institute of America)

In [1]:
import tensorflow as tf
import os

In [ ]:
# TPU will be used for text classification with BERT (Bidirectional Encoder Representations from Transformers).

resolver = tf.distribute.cluster_resolver.TPUClusterResolver(tpu='grpc://' + os.environ['COLAB_TPU_ADDR'])
tf.config.experimental_connect_to_cluster(resolver)
tf.tpu.experimental.initialize_tpu_system(resolver)
print("All devices: ", tf.config.list_logical_devices('TPU'))
strategy = tf.distribute.TPUStrategy(resolver)

In [ ]:
!pip install -q -U tensorflow-text
!pip install -q -U tf-models-official

In [ ]:
pip install transformers

In [5]:
import tensorflow_hub as hub
import tensorflow_text as text  # A dependency of the preprocessing model
#import tensorflow_addons as tfa
import numpy as np

tf.get_logger().setLevel('ERROR')

In [6]:
import pandas as pd
pd.options.display.max_rows = 999
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.metrics import accuracy_score
from transformers import *
from transformers import BertTokenizer, TFBertModel, BertConfig

In [ ]:
#bert-base-cased
bert_tokenizer = BertTokenizer.from_pretrained('bert-base-cased', output_attention=True)
# 14 text categories for text classification
bert_model = TFBertForSequenceClassification.from_pretrained('bert-base-cased',output_attentions=True, num_labels=14)

In [ ]:
from google.colab import files

# upload ARCHAIC_TrainAndValidate.csv for training and validation
files.upload()

In [10]:
data = pd.read_csv('ARCHAIC_TrainAndValidate.csv')

Class = set(data['category'])  # List of unique categories

CL = dict(zip(Class,list(range(14)))) # convert categories into numericals

rvCL = dict(zip(list(range(14)),Class)) # reverse lookup for numerical label using another dictionary

print(CL)

{'Native American': 0, 'Pre-Human': 1, 'Modern': 2, 'Near East': 3, 'Egyptian': 4, 'Paleolithic': 5, 'South&Southeast Asia': 6, 'Neolithic': 7, 'Roman': 8, 'Medieval': 9, 'East Asia': 10, 'Bronze Age': 11, 'Pre-Columbian': 12, 'Iron Age': 13}

In [11]:
# Function for assigning numerical category to news text
#Also check if a news piece has a sequence length longer than 384
def col_label(Table): 
 
  Table['Label'] = 0 # want integers only
  long=[]

  for i in Table.index:
      
      Table.at[i,'Label'] = CL[Table.at[i,'category']]
      tokens=bert_tokenizer.tokenize(Table.at[i,'clean text'])
      if len(tokens) > 384:
        print('i=',i, len(tokens))
        long.append([i,len(tokens)])
      else:
        pass
  return Table, long

In [12]:
# Add a 'Label' column to the data table
data, over_384 = col_label(data)

i= 819 401

In [13]:
# Assign input IDs and attention masks

def Encode(table):

  sentences=table['clean text']
  labels=table['Label']

  input_ids=[]
  attention_masks=[]

  for sent in sentences:
      bert_inp=bert_tokenizer.encode_plus(sent,add_special_tokens = True,max_length =384,pad_to_max_length = True,return_attention_mask = True)
      input_ids.append(bert_inp['input_ids'])
      attention_masks.append(bert_inp['attention_mask'])

  input_ids=np.asarray(input_ids)
  attention_masks=np.array(attention_masks)
  labels=np.array(labels)
  return input_ids, attention_masks, labels

In [ ]:
# IDs and masks for news texts

input_ids, attention_masks, labels = Encode(data)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
# Split input IDs, labels, and masks for training and validation sets

train_inp,val_inp,train_label,val_label,train_mask,val_mask=train_test_split(input_ids,labels,attention_masks,test_size=0.25, random_state=73)
print('Train inp shape {} Val input shape {}\nTrain label shape {} Val label shape {}\nTrain attention mask shape {} Val attention mask shape {}'.format(train_inp.shape,val_inp.shape,train_label.shape,val_label.shape,train_mask.shape,val_mask.shape))

Train inp shape (708, 384) Val input shape (237, 384)
Train label shape (708,) Val label shape (237,)
Train attention mask shape (708, 384) Val attention mask shape (237, 384)

In [40]:
# Training and validation
# With early stopping when criterion is met

with strategy.scope():

  Loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
  Metric = tf.keras.metrics.SparseCategoricalAccuracy()
  callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=4)
  Optimizer = tf.keras.optimizers.Adam(learning_rate=0.0000088,epsilon=1e-08)
  bert_tokenizer = BertTokenizer.from_pretrained("bert-base-cased")
  bert_model = TFBertForSequenceClassification.from_pretrained('bert-base-cased', num_labels=14)
  bert_model.compile(loss=Loss, metrics=Metric,optimizer=Optimizer)
  history=bert_model.fit([train_inp,train_mask],train_label,batch_size=32,epochs=50,validation_data=([val_inp,val_mask],val_label),callbacks=[callback])

All model checkpoint layers were used when initializing TFBertForSequenceClassification.

Some layers of TFBertForSequenceClassification were not initialized from the model checkpoint at bert-base-cased and are newly initialized: ['classifier']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Epoch 1/50
23/23 [==============================] - 136s 3s/step - loss: 2.6655 - sparse_categorical_accuracy: 0.0662 - val_loss: 2.6361 - val_sparse_categorical_accuracy: 0.1055
Epoch 2/50
23/23 [==============================] - 4s 164ms/step - loss: 2.6304 - sparse_categorical_accuracy: 0.0697 - val_loss: 2.5789 - val_sparse_categorical_accuracy: 0.1519
Epoch 3/50
23/23 [==============================] - 4s 164ms/step - loss: 2.5608 - sparse_categorical_accuracy: 0.1650 - val_loss: 2.4947 - val_sparse_categorical_accuracy: 0.1435
Epoch 4/50
23/23 [==============================] - 4s 163ms/step - loss: 2.4530 - sparse_categorical_accuracy: 0.2051 - val_loss: 2.3840 - val_sparse_categorical_accuracy: 0.2405
Epoch 5/50
23/23 [==============================] - 4s 163ms/step - loss: 2.3173 - sparse_categorical_accuracy: 0.3327 - val_loss: 2.1889 - val_sparse_categorical_accuracy: 0.5401
Epoch 6/50
23/23 [==============================] - 4s 161ms/step - loss: 2.1021 - sparse_categorical_accuracy: 0.5374 - val_loss: 1.8954 - val_sparse_categorical_accuracy: 0.6667
Epoch 7/50
23/23 [==============================] - 4s 166ms/step - loss: 1.8476 - sparse_categorical_accuracy: 0.6733 - val_loss: 1.6112 - val_sparse_categorical_accuracy: 0.7342
Epoch 8/50
23/23 [==============================] - 4s 163ms/step - loss: 1.5328 - sparse_categorical_accuracy: 0.7685 - val_loss: 1.3521 - val_sparse_categorical_accuracy: 0.8186
Epoch 9/50
23/23 [==============================] - 4s 164ms/step - loss: 1.3007 - sparse_categorical_accuracy: 0.8276 - val_loss: 1.1012 - val_sparse_categorical_accuracy: 0.8312
Epoch 10/50
23/23 [==============================] - 4s 163ms/step - loss: 1.0333 - sparse_categorical_accuracy: 0.8892 - val_loss: 0.9437 - val_sparse_categorical_accuracy: 0.8481
Epoch 11/50
23/23 [==============================] - 4s 163ms/step - loss: 0.9094 - sparse_categorical_accuracy: 0.8831 - val_loss: 0.8373 - val_sparse_categorical_accuracy: 0.8523
Epoch 12/50
23/23 [==============================] - 4s 163ms/step - loss: 0.7686 - sparse_categorical_accuracy: 0.9266 - val_loss: 0.7094 - val_sparse_categorical_accuracy: 0.8565
Epoch 13/50
23/23 [==============================] - 4s 162ms/step - loss: 0.6328 - sparse_categorical_accuracy: 0.9219 - val_loss: 0.6207 - val_sparse_categorical_accuracy: 0.8523
Epoch 14/50
23/23 [==============================] - 4s 163ms/step - loss: 0.5399 - sparse_categorical_accuracy: 0.9493 - val_loss: 0.5449 - val_sparse_categorical_accuracy: 0.8819
Epoch 15/50
23/23 [==============================] - 4s 165ms/step - loss: 0.4545 - sparse_categorical_accuracy: 0.9697 - val_loss: 0.5094 - val_sparse_categorical_accuracy: 0.8776
Epoch 16/50
23/23 [==============================] - 4s 164ms/step - loss: 0.3952 - sparse_categorical_accuracy: 0.9773 - val_loss: 0.4640 - val_sparse_categorical_accuracy: 0.8861
Epoch 17/50
23/23 [==============================] - 4s 161ms/step - loss: 0.3656 - sparse_categorical_accuracy: 0.9793 - val_loss: 0.4437 - val_sparse_categorical_accuracy: 0.9114
Epoch 18/50
23/23 [==============================] - 4s 164ms/step - loss: 0.3077 - sparse_categorical_accuracy: 0.9878 - val_loss: 0.3656 - val_sparse_categorical_accuracy: 0.9198
Epoch 19/50
23/23 [==============================] - 4s 161ms/step - loss: 0.2611 - sparse_categorical_accuracy: 0.9940 - val_loss: 0.3460 - val_sparse_categorical_accuracy: 0.9198
Epoch 20/50
23/23 [==============================] - 4s 163ms/step - loss: 0.2135 - sparse_categorical_accuracy: 0.9952 - val_loss: 0.3348 - val_sparse_categorical_accuracy: 0.9198
Epoch 21/50
23/23 [==============================] - 4s 163ms/step - loss: 0.1901 - sparse_categorical_accuracy: 0.9986 - val_loss: 0.3430 - val_sparse_categorical_accuracy: 0.9072
Epoch 22/50
23/23 [==============================] - 4s 163ms/step - loss: 0.1691 - sparse_categorical_accuracy: 0.9986 - val_loss: 0.3184 - val_sparse_categorical_accuracy: 0.9241
Epoch 23/50
23/23 [==============================] - 4s 163ms/step - loss: 0.1532 - sparse_categorical_accuracy: 0.9984 - val_loss: 0.3085 - val_sparse_categorical_accuracy: 0.9241
Epoch 24/50
23/23 [==============================] - 4s 165ms/step - loss: 0.1354 - sparse_categorical_accuracy: 0.9984 - val_loss: 0.2900 - val_sparse_categorical_accuracy: 0.9241
Epoch 25/50
23/23 [==============================] - 4s 164ms/step - loss: 0.1338 - sparse_categorical_accuracy: 0.9930 - val_loss: 0.2916 - val_sparse_categorical_accuracy: 0.9241
Epoch 26/50
23/23 [==============================] - 4s 163ms/step - loss: 0.1133 - sparse_categorical_accuracy: 0.9957 - val_loss: 0.2823 - val_sparse_categorical_accuracy: 0.9198
Epoch 27/50
23/23 [==============================] - 4s 162ms/step - loss: 0.1278 - sparse_categorical_accuracy: 0.9836 - val_loss: 0.3090 - val_sparse_categorical_accuracy: 0.9156
Epoch 28/50
23/23 [==============================] - 4s 163ms/step - loss: 0.0986 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2942 - val_sparse_categorical_accuracy: 0.9241
Epoch 29/50
23/23 [==============================] - 4s 164ms/step - loss: 0.0858 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2886 - val_sparse_categorical_accuracy: 0.9156
Epoch 30/50
23/23 [==============================] - 5s 203ms/step - loss: 0.0793 - sparse_categorical_accuracy: 0.9989 - val_loss: 0.2756 - val_sparse_categorical_accuracy: 0.9156
Epoch 31/50
23/23 [==============================] - 4s 167ms/step - loss: 0.0723 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2790 - val_sparse_categorical_accuracy: 0.9198
Epoch 32/50
23/23 [==============================] - 4s 162ms/step - loss: 0.0664 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2814 - val_sparse_categorical_accuracy: 0.9156
Epoch 33/50
23/23 [==============================] - 4s 164ms/step - loss: 0.0666 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2858 - val_sparse_categorical_accuracy: 0.9198
Epoch 34/50
23/23 [==============================] - 4s 163ms/step - loss: 0.0621 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2812 - val_sparse_categorical_accuracy: 0.9156

In [18]:
# Split texts (raw data) into train and validation sets so that validation set can be examined.

X_tr, X_ts, Y_tr, Y_ts=train_test_split(data['clean text'],data['Label'],test_size=0.25, random_state=73)

# Make a table for the validation set alone
val_set = pd.DataFrame(X_ts)
val_set['Label'] = Y_ts
y_true = list(Y_ts)

In [19]:
#Obtain predicted categories from the trained BERT model

pred = bert_model([val_inp,val_mask])

In [20]:
# Use argmax to get Label of predicted category
# Reverse look-up for category names

def rev_label(pred, X,y_true):

  predicted =[]
  pred_cat = []
  true_cat = []
  for j in range(len(X)):
    index= np.argmax(pred[0][j])
    predicted.append(int(index))
    cat = rvCL[index]
    true = rvCL[y_true[j]]
    pred_cat.append(cat)
    true_cat.append(true)
  return predicted, pred_cat, true_cat

In [21]:
# predicted for predicted label
# pred_cat for predicted category name
# true_cat for actual category
predicted, pred_cat, true_cat = rev_label(pred, X_ts, y_true)

val_set['predicted'] = predicted
val_set['true_cat'] = true_cat
val_set['pred_cat'] = pred_cat

In [22]:
print('Incorrectly predicted news pieces in total:',len(val_set[val_set['Label']!=val_set['predicted']]))
val_set[val_set['Label']!=val_set['predicted']]

Incorrectly predicted news pieces in total: 16

                                            clean text  ...              pred_cat
473  New Thoughts on Indonesia’s Prehistoric Volcan...  ...             Pre-Human
349  New Thoughts on Turkey’s Oldest Temple Complex...  ...            Bronze Age
403  High-Altitude Roundhouse Dated in Scotland. GL...  ...             Neolithic
269  A Persian Military Outpost Identified in Israe...  ...             Near East
258  DNA Study Tackles Caribbean Migration History....  ...             Neolithic
465  Rare 5,000-Year-Old Sword Identified in Venice...  ...              Medieval
456  Stone Tools Recovered from Cave in West India....  ...  South&Southeast Asia
173  Artifacts Unearthed at Estate Site in Scotland...  ...              Medieval
3    New Thoughts on Phoenician Figurines. HAIFA, I...  ...            Bronze Age
304  Second Viking Ship Burial Detected on Norway’s...  ...              Iron Age
412  Hunter-Gatherer Artwork Discovered in British ...  ...             Neolithic
878  New Thoughts on the Death of the "Prince of He...  ...              Iron Age
586  Puerto Rico’s Possible Ancient Cooking Techniq...  ...       Native American
289  Fingerprints Studied at Rock Art Site in Spain...  ...           Paleolithic
23   Historic Cemetery Unearthed in Estonia. SILLAM...  ...                Modern
153  Traces of Historic Fort Found in the Netherlan...  ...                Modern

[16 rows x 5 columns]

In [ ]:
#Upload 2 more files for test data sets
# ARCHAIC_test.csv and ARCHAIC_2labels.csv
files.upload()

In [25]:
# Contains test data set which is somewhat more difficult than any validation set
# Test data set has only 1 label per news story
Easy_test = pd.read_csv('ARCHAIC_test.csv')

In [26]:
# A place to assure there are no duplicates from the training set in the test sets
DUP = []
arch_testing = list(Easy_test['url'])
for j in range(len(data['url'])):
  if data.at[j,'url'] in arch_testing:
    DUP.append(data.at[j,'url'])
    print(j)
  else:
    pass

#If there is anything in DUP, it has to be removed from the test data set.
DUP

[]

In [ ]:
# Create a numerical label column for the Easy_test table
Easy_test, Easy_len=col_label(Easy_test)

# encode the texts in Easy_test
test_input_ids, test_attention_masks, test_labels = Encode(Easy_test)

In [41]:
# Predicting news category on the test set
Easy_test_pred = bert_model([test_input_ids,test_attention_masks])

# Add predicted label and category columns to the Easy_test table
es_predicted, es_pred_cat, es_true_cat = rev_label(Easy_test_pred, Easy_test['clean text'], test_labels)

Easy_test['predicted'] = es_predicted
Easy_test['true_cat'] = es_true_cat
Easy_test['pred_cat'] = es_pred_cat

In [42]:
print('Wrongly predicted news pieces from test set:',len(Easy_test[Easy_test['Label']!=Easy_test['predicted']]))
Easy_test[Easy_test['Label']!=Easy_test['predicted']][['clean text','category','pred_cat']]

Wrongly predicted news pieces from test set: 130

                                            clean text  ...              pred_cat
0    Nomadic Warriors’ Remains Unearthed in Croatia...  ...                 Roman
1    New Study Suggests Measles Virus is 2,500 Year...  ...           Paleolithic
2    Canaanite Fortress Unearthed in Southern Israe...  ...              Egyptian
3    Ancient Hue Detected in Renaissance Painting. ...  ...                 Roman
26   Possible Traces of Antebellum Home Unearthed i...  ...       Native American
27   Secret Passage Discovered in London’s House of...  ...                Modern
31   Remains of Fish Dinners May Reflect Climate Ch...  ...           Paleolithic
34   Soviet Shortwave Spy Radio Unearthed in Wester...  ...                 Roman
39   Researchers Will Search for Spanish Treasure S...  ...         Pre-Columbian
75   16th-Century Manuscript Attributed to Queen El...  ...                 Roman
79   Snail “Clocks” Offer Clues to Ancient Oyster H...  ...           Paleolithic
80   Napoleonic-Era Field Kitchen Discovered in Gue...  ...            Bronze Age
83   Did Human Hunters Alone Wipe Out the Great Auk...  ...             Neolithic
84   1,000-Year-Old Ship Burial Found in Norway. OS...  ...             Neolithic
99   Seventeenth-Century Hawking Ring Found in Engl...  ...                Modern
106  Lidar Survey Detects Ring Cairn in Gloucesters...  ...            Bronze Age
112  Genetic Analysis Links Scottish Highland Skele...  ...              Iron Age
115  Study Shows Shellfish Thrived in Canada's Anci...  ...           Paleolithic
116  1,000-Year-Old Iron Weapon Found in Norway. HA...  ...              Iron Age
126  Skeletal Remains Recovered from Pictish Cemete...  ...             Neolithic
130  Ancient Statue Unearthed on Turkish Coast. ANT...  ...              Iron Age
135  Possible Pictish Cemetery Found in Scotland. R...  ...             Neolithic
142  19th-Century Industrial Site Excavated in New ...  ...       Native American
144  Iron Age Village Unearthed in Western India. M...  ...              Iron Age
150  Ottoman-Era Tunnel Found in Ancient Tomb. PLOV...  ...                 Roman
173  Germany Repatriates Ancient Sculpture to Italy...  ...              Iron Age
175  Overcrowding May Have Led to Violence at Çatal...  ...            Bronze Age
181  Colonial-Era Home Excavated in New Hampshire. ...  ...       Native American
188  18th-Century Ammunition Found at Uprising Site...  ...              Medieval
194  Herders and Hunter-Gatherers Shared Genes in E...  ...           Paleolithic
195  Ancient Tomb Unearthed in Bulgaria. SOFIA, BUL...  ...              Iron Age
197  Who Were Scotland’s First Famers?. ABERDEENSHI...  ...              Iron Age
203  City Gate Discovered at Bulgaria’s Ancient Cit...  ...              Iron Age
204  Tiny Tools From Israel’s Qesem Cave Analyzed. ...  ...           Paleolithic
220  DNA Extracted From Sweden’s Prehistoric “Chewi...  ...             Neolithic
222  Altar Dedicated to Nemesis Uncovered in Mytile...  ...              Iron Age
227  Ancient Climate Linked to Dip in South America...  ...         Pre-Columbian
237  Fifteenth-Century Anchor Found Off Mexico’s Gu...  ...         Pre-Columbian
238  Analysis Reveals Imitation Amber in Prehistori...  ...           Paleolithic
243  Byzantine-Era Structures Identified at Istanbu...  ...             Near East
247  Artifacts Push Back Possible Settlement of Ama...  ...         Pre-Columbian
249  Researchers Analyze Wound in Ancient Greek Ske...  ...            Bronze Age
253  13,500-Year-Old Burial Unearthed in China. GUA...  ...             East Asia
255  Scientists Analyze 2,000-Year-Old Remains in P...  ...             Neolithic
263  Possible New Early Human Discovered in the Phi...  ...             Pre-Human
278  Norway to Return Easter Island Artifacts. SANT...  ...         Pre-Columbian
282  Etruscan Tomb Unearthed in Corsica. ALERIA, CO...  ...                 Roman
285  Seventeenth-Century Artifacts Unearthed in Con...  ...       Native American
289  Boat Described by Herodotus Discovered in Nile...  ...              Egyptian
296  New Thoughts on Paleolithic Hunters. PETERBORO...  ...           Paleolithic
299  Spanish Researchers Begin New World Shipwreck ...  ...                Modern
308  Obsidian Trade in Poland Dates Back At Least 2...  ...             Neolithic
322  Archaeologists Investigate Florida’s Cape Cana...  ...       Native American
336  Evidence of Earliest British Beer Discovered. ...  ...            Bronze Age
341  When Did Sailors First Cross the Strait of Gib...  ...              Medieval
345  3,000-Year-Old Quinoa Identified in Canada. BR...  ...           Paleolithic
349  Stone Age Site Discovered in Norway. STAVANGER...  ...             Neolithic
355  Dogs May Have Helped Humans Hunt 11,500 Years ...  ...             Neolithic
356  Submerged Prehistoric Site Discovered in Scotl...  ...             Neolithic
362  Copper-Age Axes Unearthed in Bulgaria. POLKOVN...  ...            Bronze Age
388  2,000-Year-Old Copper Figurine Unearthed in En...  ...              Iron Age
400  Hematite “Pencil” Discovered in Denisova Cave....  ...           Paleolithic
404  Mosaic Fragment Returned to Turkey. GAZIANTEP,...  ...             Neolithic
414  Skeleton Wearing Leather Boots Recovered From ...  ...             Neolithic
416  Fresh DNA Analysis Revises Bronze Age Woman’s ...  ...            Bronze Age
433  Ottoman-Era Turbah Unearthed in Slovakia. FIL’...  ...             Near East
434  New Thoughts on Prehistoric Tool Making in Chi...  ...           Paleolithic
454  What Caused Skeletal Abnormalities in Early Hu...  ...           Paleolithic
462  Fossils Offer Insights Into Possible Route Out...  ...           Paleolithic
463  Decorations Revealed on Conserved Spanish Armo...  ...         Pre-Columbian
465  Early English Colony Excavated in Connecticut....  ...       Native American
488  Amulet Shaped Like Thor’s Hammer Uncovered in ...  ...             Neolithic
511  Morocco’s 90,000-Year-Old Bone Knives Studied....  ...             Neolithic
517  Thousands of Petroglyphs Uncovered in Western ...  ...  South&Southeast Asia
532  Shipwreck Discovered Near Portugal. LISBON, PO...  ...             East Asia
551  Evidence of 13,000-Year-Old Beer Found in Isra...  ...              Iron Age
572  Iberian Amber Traced to Sicily. GRANADA, SPAIN...  ...            Bronze Age
573  London Excavations Reveal Theater Complex. LON...  ...                 Roman
579  Cold Spells May Have Doomed Neanderthals. COLO...  ...             Pre-Human
580  Cape Cod Dig Reveals 17th-Century Settlement. ...  ...       Native American
589  England’s Drought Reveals 18th-Century Forest ...  ...              Medieval
603  Christian Pectoral Cross Unearthed in Bulgaria...  ...             Near East
623  Bimah Discovered at Site of Lithuania’s Great ...  ...             Near East
628  Byzantine Gold Coin Unearthed in Bulgaria. SOF...  ...             Near East
632  Three Hundred Years of History Uncovered in Qu...  ...       Native American
634  18th-Century Water Pipes Discovered in Edinbur...  ...              Medieval
638  Roof of Thracian Tomb Uncovered in Bulgaria. P...  ...              Iron Age
641  4,500-Year-Old Grave in Ukraine Contained Deco...  ...            Bronze Age
644  Byzantine Seal Unearthed in Bulgaria. SOFIA, B...  ...                 Roman
648  Colonial-Era Artifacts Uncovered in Michigan. ...  ...       Native American
662  Bits of Ancient Bread Unearthed in Jordan. COP...  ...             Neolithic
668  Unusual 2,500-Year-Old Skull Found in Burial C...  ...           Paleolithic
672  New Thoughts on Human Evolution. JENA, GERMANY...  ...             Pre-Human
675  Odyssey Excerpt Uncovered in Greece. ATHENS, G...  ...              Iron Age
700  Colonial-Era Graves Unearthed in St. Augustine...  ...                Modern
704  Shipwreck Unearthed in Denmark. VORDINGBORG, D...  ...             Neolithic
707  Ötzi the Iceman’s Copper-Age Tools Analyzed. F...  ...            Bronze Age
721  1719 Battlefield Site Surveyed in Scotland. WE...  ...              Medieval
724  3,000-Year-Old Road Will Be Preserved in Irela...  ...             Neolithic
725  Possible Forgotten Illyrian City Found in Alba...  ...                 Roman
727  Bronze Age Bubonic Plague Bacteria Found in Ru...  ...              Iron Age
731  Did Most Men Die Off 7,000 Years Ago?. STANFOR...  ...           Paleolithic
732  Small, Sculpted Head May Depict Ancient King. ...  ...             Near East
735  Intact Tomb Dating to Fourth Century B.C. Foun...  ...                 Roman
736  Seventeenth-Century Cellar Identified at James...  ...                Modern
739  New Dates Push Back Use of Olive Oil in Italy....  ...             Neolithic
756  30,000-Year-Old Modern Human Bones Found in Si...  ...             Pre-Human
764  Evidence of Donkey Riding Found in Central Isr...  ...             Neolithic
776  Genetic Study Estimates Number of First New Wo...  ...       Native American
778  Hepatitis B Detected in 4,500-Year-Old Remains...  ...              Iron Age
801  Well-Preserved Chariot Horse Found in Sudan. S...  ...            Bronze Age
807  New Thoughts on Shovel-Shaped Teeth. BERKELEY,...  ...       Native American
812  When Did Humans First Use Symbols?. AARHUS, DE...  ...             Pre-Human
819  Egyptian Papyrus Retells Biblical Story of Abr...  ...              Egyptian
822  Skeletal Study of Custer’s Men Questions Suici...  ...       Native American
830  Cache of Meroitic Texts Recovered in Sudan. KH...  ...              Egyptian
836  Stone Age Scandinavians May Have Relied on Fis...  ...              Iron Age
837  Early Migrants May Have Traveled Beyond the Le...  ...             Pre-Human
847  Coin Hoard Unearthed Near Corinth’s Harbor. BR...  ...              Iron Age
877  Tool Discovery Pushes Back Onset of Middle Sto...  ...             Pre-Human
881  Ancient Port City Found Near Naples. NAPLES, I...  ...                 Roman
894  Cannonballs Unearthed at Malaysia’s Fort Cornw...  ...  South&Southeast Asia
898  Spanish Pistol Part Identified in Colorado. ME...  ...       Native American
911  Aphrodite Sculpture and Mosaics Found in Greec...  ...              Iron Age
913  Early Stone Tools Found in Eastern India. ODIS...  ...  South&Southeast Asia
921  Scientists Recover Ancient Taino DNA. CAMBRIDG...  ...       Native American
925  World War I Belt Buckle Found at Scotland’s St...  ...              Medieval
929  Ice-Age Artifacts Dated in the Netherlands. LE...  ...           Paleolithic
937  High-Quality Mosaic Uncovered in Caesarea. CAE...  ...             Near East
939  Scientists Map Cheddar Man’s Genome. LONDON, E...  ...             Neolithic

[130 rows x 3 columns]

In [43]:
# Accuracy for the main test set (1 label)

ACCU = sklearn.metrics.accuracy_score(Easy_test['Label'], Easy_test['predicted'], normalize=True, sample_weight=None)
print('Easy_test Accuracy =',round((ACCU*100),2))

Easy_test Accuracy = 86.24

There are news stories which cannot be assigned to a single category as the content shows an overlap of 2 categories or more. Each news piece in the test data set below has been given 2 labels only for simplicity even though some of them are relevant to 3 categories. The news stories below are considered much more difficult to classify than the single-label test data set.

In [44]:
# A different test data set with 2 classes assgined to each news story
Hard_test = pd.read_csv('ARCHAIC_2labels.csv')

# Assign the primary label first (not necessarily the dominant class)
Hard_test, Hard_over_384 = col_label(Hard_test)

In [45]:
# Set up the numerical label column for the 2nd category
Hard_test['2nd_Label'] = 0 # want integers only
pair = []

for i in Hard_test.index:
      
  Hard_test.at[i,'2nd_Label'] = CL[Hard_test.at[i,'2nd category']]
  b = Hard_test.at[i,'2nd_Label']
  a = Hard_test.at[i,'Label']
  twin = [a,b]
  pair.append(twin)

# Add a column with a list of two numerical labels for each news piece
Hard_test['twin label'] = pair

In [ ]:
Hard_input_ids,Hard_attention_masks, Hard_labels = Encode(Hard_test)
Hard_test_pred = bert_model([Hard_input_ids,Hard_attention_masks])

In [47]:
# Collect predicted twin labels using the argsort function. The last two positions in the argsort results give max. and 2nd highest probability values
hd_predicted =[]

for l in range(len(Hard_test)):
  twin_index= (np.argsort(Hard_test_pred[0][l]))[-2 :]
  hd_predicted.append(twin_index)

Hard_test['predicted'] = hd_predicted

In [48]:
# Rearrange the order of columns in the table for readability
Hard_test = Hard_test[['url','clean text','category','2nd category','Label','2nd_Label','twin label','predicted']]

In [49]:
Hard_test[['clean text','category','2nd category','Label','2nd_Label','twin label','predicted']]

                                            clean text  ... predicted
0    Finds Spanning 4,000 Years Unearthed in Southe...  ...   [11, 7]
1    Genome Study Yields New Date for Arrival of TB...  ...    [2, 7]
2    Early Christian Chalice Unearthed in Northern ...  ...    [9, 8]
3    Multidisciplinary Study Tracks Spread of Rice ...  ...   [10, 6]
4    Possible Ancient Longboat Recovered in Ireland...  ...   [11, 7]
5    Three Well-Preserved Ancient Boats Unearthed i...  ...   [13, 8]
6    Leather Balls Found in Ancient Graves in North...  ...  [11, 13]
7    Volunteers Spot New Sites in Aerial Images of ...  ...    [9, 8]
8    Snake Altar Unearthed in Turkey. ANTALYA, TURK...  ...  [11, 13]
9    Study Examines Food and Gender in Bronze Age C...  ...   [0, 11]
10   Main Gate Discovered at Harran Palace. SANLIUR...  ...   [3, 13]
11   Rock Art Discovered in Remote Cave in Thailand...  ...    [0, 5]
12   Poland’s Prehistoric Diet Analyzed. WARSAW, PO...  ...   [7, 11]
13   Evidence of Ancient Surgery Unearthed in Greec...  ...   [13, 8]
14   Roles of Hunter-Gatherer Women Reevaluated. RE...  ...   [10, 0]
15   Glacial Ice Melt Reveals Hundreds of Artifacts...  ...   [9, 13]
16   Study Suggests New Dates for Spread of Farming...  ...   [7, 10]
17   2,000-Year-Old Date Seeds Sprout in Israel. JE...  ...    [4, 3]
18   Roman and Anglo-Saxon Graves Uncovered in Engl...  ...    [9, 8]
19   Monkey from Southern Asia Identified in Ancien...  ...  [13, 11]
20   Unusually Shaped Stones Unearthed in Prehistor...  ...   [11, 7]
21   Iron Age Amulet from Egypt Unearthed in Oman. ...  ...   [13, 4]
22   DNA Study Tracks Ancestry of Today’s Finns. HE...  ...    [2, 7]
23   20th-Century Artifact Found in 15th-Century Es...  ...    [2, 9]
24   Roman Catacomb Discovered in Egypt. KANAZAWA, ...  ...    [3, 4]
25   Archaeologist Maps Iceland’s Historic Shipwrec...  ...   [13, 9]
26   Remnants of Ancient Wall Identified in Iran. T...  ...  [11, 13]
27   Lidar Technology Spots Archaeological Sites in...  ...    [9, 7]
28   Study Reveals Ancient Fish-Cleaning Techniques...  ...    [3, 4]
29   Migration May Have Contributed to Iron Age Cha...  ...  [13, 11]
30   Chimpanzees Observed Fishing for Freshwater Cr...  ...    [5, 1]
31   Possible Bishop's Tomb Dating to Holy Roman Em...  ...    [9, 8]
32   New Thoughts on France’s Tumulus des Sables. C...  ...  [13, 11]
33   Archaeologists Brew Drinks With Revived Ancien...  ...    [3, 4]
34   Jomon Woman’s Genome Decoded in Japan. TOKYO, ...  ...   [2, 10]
35   Traces of Siberian Genes Detected in Some Nort...  ...   [7, 11]
36   Bronze Age Rock Art Discovered in China. GANSU...  ...   [0, 11]
37   Greco-Roman Era Tomb Found in Upper Egypt. CAI...  ...    [3, 4]
38   Possible Ritual Burials Discovered in Oxfordsh...  ...  [11, 13]
39   Colonial-Era Trash Pit Found in Maryland. ANNA...  ...    [0, 2]
40   Iron Age Settlement Uncovered in Thailand. LOP...  ...  [11, 13]
41   4,000-Year-Old Rock Art Discovered in Inner Mo...  ...   [7, 10]
42   Monument Offers Clues to Size of Cleopatra’s U...  ...   [13, 8]
43   Italy Returns Ancient Artifacts to China. ROME...  ...   [13, 8]
44   New Thoughts on the Origins of Iron Smelting i...  ...  [11, 13]
45   2,500-Year-Old Pottery Fragment May Depict Jok...  ...    [3, 4]
46   DNA Study Investigates Migrations to Canary Is...  ...    [9, 8]
47   Roman Tile Factory Unearthed in Northern Engla...  ...    [9, 8]
48   Pig Bone Analysis Offers Hints to Human Travel...  ...    [5, 7]
49   Scientists Discuss “Bioarchaeology of Care”. B...  ...   [4, 12]
50   Dental Plaque Hints at Diet in Ancient Mongoli...  ...  [11, 10]
51   High-Tech Map Made of Scottish Islands. GLASGO...  ...   [11, 7]
52   Triangle Markings Studied in Chalcolithic Ston...  ...    [5, 7]
53   Scientists Analyze 100,000-Year-Old Child’s Te...  ...    [5, 1]
54   Medieval Copper Production Settlement Found in...  ...    [9, 3]
55   Rare Human Remains Recovered in Central Americ...  ...   [5, 12]
56   Roman-Period Sarcophagi Found in Egypt. DAMIET...  ...    [3, 4]
57   Byzantine Churches Uncovered in Cyprus. AKROTI...  ...    [3, 8]
58   New Dates Revealed for Stone Circle in Scotlan...  ...   [11, 7]
59   U.S. Repatriates Coins to Cyprus. BALTIMORE, M...  ...   [13, 8]
60   New Thoughts on Neanderthal Head Injuries. TÜB...  ...    [5, 1]
61   Genetic Studies Attempt to Track Peopling of t...  ...    [5, 0]
62   Byzantine Fortress Investigated in Bulgaria. S...  ...    [3, 8]
63   17th-Century Palisade Uncovered in Quebec City...  ...    [9, 2]
64   Prehistoric Ax Discovered in Virginia. FAIRFAX...  ...    [0, 5]
65   Megalithic Statues Discovered in Indonesia. JA...  ...    [5, 7]
66   Prehistoric Cremation Urns Unearthed in Englan...  ...    [5, 7]
67   Scientists Analyze Roman “Red Dust”. GLASGOW, ...  ...   [13, 8]
68   Five Shipwrecks Found Near Greece’s Fourni Isl...  ...   [8, 13]
69   17th-Century Spanish Mission Building Studied ...  ...   [0, 12]
70   Sock from Roman Egypt Analyzed. LONDON, ENGLAN...  ...   [13, 8]
71   Archaeologists Examine Graffiti at Aizanoi’s T...  ...   [3, 13]
72   Ancient Cemetery and Neolithic Village Found i...  ...   [11, 7]
73   Archaeologists Look for Evidence of Past Child...  ...   [9, 13]
74   Ancient Gold and Pearls Discovered on Danish I...  ...   [13, 8]
75   Sixth-Century Cemeteries Offer Clues to “Barba...  ...    [9, 8]
76   Neolithic Farming Site Found in Nile Delta. DA...  ...    [7, 4]
77   Hidden Cave Door Found Under Scottish Castle. ...  ...   [13, 9]
78   Remains of a Slovak Manor House Unearthed. BRA...  ...   [7, 11]
79   Mass Grave Unearthed in Sri Lanka. MANNAR, SRI...  ...    [2, 6]
80   Archaeological Sites Discovered On and Around ...  ...   [8, 13]
81   Ancestral Puebloans May Have Bred Scarlet Maca...  ...   [12, 0]
82   Potters’ Break Room Found in Central Israel. G...  ...    [9, 8]
83   1,700-Year-Old Marble Bust Unearthed in Turkey...  ...   [13, 8]
84   Byzantine- and Roman-era Rooms Uncovered in Eg...  ...    [3, 4]
85   Henge Site Spotted in Ireland’s Boyne Valley. ...  ...   [11, 7]
86   Traces of Roman and Medieval Industry Found in...  ...    [9, 8]
87   Mongolia’s Earliest Evidence of Equine Dentist...  ...  [11, 10]
88   Complete Jars Recovered From Cliffside Cave in...  ...    [8, 3]
89   Possible Sacrifice Victims Unearthed at Henge ...  ...   [7, 11]
90   Seventeenth-Century Danish Latrines Analyzed. ...  ...    [8, 9]
91   Seventh-Century Inscription Found at Tintagel ...  ...    [9, 8]
92   Spanish Galleon Wreckage Discovered Off Coast ...  ...   [12, 2]
93   Bronze Age Burial Excavated in England. CORNWA...  ...  [13, 11]
94   Pottery Inscription Provides New Dates for Jav...  ...   [6, 10]
95   Greek Inscriptions Found at Roman-Era Temple i...  ...    [3, 4]
96   Oslo Fjord’s Stone Age Settlements. OSLO, NORW...  ...   [7, 11]
97   New Thoughts on the Spread of the Justinian Pl...  ...   [3, 13]
98   Medieval Egyptian Pottery Found in Bulgaria. P...  ...    [3, 4]
99   Flint Tools Found in Australia Were Made With ...  ...    [5, 2]
100  6,000 Years on a Landscape in East England Rev...  ...    [8, 9]
101  Utrecht Inhabited Far Longer Than Previously T...  ...    [5, 7]
102  Cannons Unearthed at Malaysia’s Fort Cornwalli...  ...    [2, 6]
103  Roman-Era Temple Unearthed in Upper Egypt. ASW...  ...    [3, 4]
104  Study Re-creates 8,000-Year-Old Projectiles. F...  ...    [7, 5]
105  Early Agricultural Hotspot Found in Amazonia. ...  ...   [0, 12]
106  Roadwork Reveals Traces of Southwest Ireland’s...  ...   [7, 11]

[107 rows x 7 columns]

In [50]:
# Dictionary reference
CL

{'Bronze Age': 11,
 'East Asia': 10,
 'Egyptian': 4,
 'Iron Age': 13,
 'Medieval': 9,
 'Modern': 2,
 'Native American': 0,
 'Near East': 3,
 'Neolithic': 7,
 'Paleolithic': 5,
 'Pre-Columbian': 12,
 'Pre-Human': 1,
 'Roman': 8,
 'South&Southeast Asia': 6}

In [51]:
# Custom scoring - both labels correct - 1, only one label correct - 0.5

score = 0

for j in Hard_test.index:
  if (Hard_test.at[j,'predicted'])[0] in Hard_test.at[j,'twin label']:
    score += 0.5
  else:
    pass
  if (Hard_test.at[j,'predicted'])[1] in Hard_test.at[j,'twin label']:
    score += 0.5
  else:
    pass

print('two-label accuracy =', round(score/(len(Hard_test))*100,2))

two-label accuracy = 68.69