<a href="https://colab.research.google.com/github/jmachima/Archaeology_News/blob/main/Archaeology_News_BERT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Jasmine Machima 
jasmine.machima@gmail.com

Text Classification with content from archaeology.org/news (with permission from the editor-in-chief of Archaeology - A publication of the Archaeological Institute of America)

In [ ]:
!pip install -q -U tensorflow-text
!pip install -q tf-models-official

In [2]:
import os
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text  # A dependency of the preprocessing model
import numpy as np
from sklearn.model_selection import train_test_split
tf.get_logger().setLevel('ERROR')

In [3]:
tf.__version__

'2.8.0'

In [4]:
# TPU will be used for text classification with BERT (Bidirectional Encoder Representations from Transformers).

resolver = tf.distribute.cluster_resolver.TPUClusterResolver(tpu='grpc://' + os.environ['COLAB_TPU_ADDR'])
tf.config.experimental_connect_to_cluster(resolver)
tf.tpu.experimental.initialize_tpu_system(resolver)
print("All devices: ", tf.config.list_logical_devices('TPU'))
strategy = tf.distribute.TPUStrategy(resolver)

All devices:  [LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:0', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:1', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:2', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:3', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:4', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:5', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:6', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:7', device_type='TPU')]

In [ ]:
!pip install transformers

In [6]:
import pandas as pd
pd.options.display.max_rows = 999
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from transformers import *
from transformers import BertTokenizer, TFBertModel, BertConfig

In [ ]:
#bert-base-cased
bert_tokenizer = BertTokenizer.from_pretrained('bert-base-cased', output_attention=True)
# 14 text categories for text classification

In [ ]:
from google.colab import files

# upload ARCHAIC_TrainAndValidate.csv for training and validation

#Upload 2 more files for test data sets
# ARCHAIC_test.csv and ARCHAIC_2labels.csv
files.upload()

In [9]:
data = pd.read_csv('ARCHAIC_TrainAndValidate.csv')

Class = set(data['category'])  # List of unique categories

CL = dict(zip(Class,list(range(14)))) # convert categories into numericals

rvCL = dict(zip(list(range(14)),Class)) # reverse lookup for numerical label using another dictionary

print(CL)

{'Pre-Human': 0, 'Pre-Columbian': 1, 'Roman': 2, 'Neolithic': 3, 'South&Southeast Asia': 4, 'Egyptian': 5, 'Near East': 6, 'Bronze Age': 7, 'Paleolithic': 8, 'East Asia': 9, 'Medieval': 10, 'Native American': 11, 'Iron Age': 12, 'Modern': 13}

In [10]:
# Function for assigning numerical category to news text
#Also check if a news piece has a sequence length longer than 384
def col_label(Table): 
 
  Table['Label'] = 0 # want integers only
  long=[]

  for i in Table.index:
      
      Table.at[i,'Label'] = CL[Table.at[i,'category']]
      tokens=bert_tokenizer.tokenize(Table.at[i,'clean text'])
      if len(tokens) > 384:
        print('i=',i, len(tokens))
        long.append([i,len(tokens)])
      else:
        pass
  return Table, long

# Assign input IDs and attention masks

def Encode(table):

  sentences=table['clean text']
  labels=table['Label']

  input_ids=[]
  attention_masks=[]

  for sent in sentences:
      bert_inp=bert_tokenizer.encode_plus(sent,add_special_tokens = True,max_length =384,pad_to_max_length = True,return_attention_mask = True)
      input_ids.append(bert_inp['input_ids'])
      attention_masks.append(bert_inp['attention_mask'])

  input_ids=np.asarray(input_ids)
  attention_masks=np.array(attention_masks)
  labels=np.array(labels)
  return input_ids, attention_masks, labels


# Use argmax to get Label of predicted category (for later use)
# Reverse look-up for category names

def rev_label(pred, X,y_true):

  predicted =[]
  pred_cat = []
  true_cat = []
  for j in range(len(X)):
    index= np.argmax(pred[0][j])
    predicted.append(int(index))
    cat = rvCL[index]
    true = rvCL[y_true[j]]
    pred_cat.append(cat)
    true_cat.append(true)
  return predicted, pred_cat, true_cat

In [11]:
# Add a 'Label' column to the data table
data, over_384 = col_label(data)

i= 819 401

In [12]:
# IDs and masks for news texts

input_ids, attention_masks, labels = Encode(data)

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
/usr/local/lib/python3.7/dist-packages/transformers/tokenization_utils_base.py:2269: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  FutureWarning,

In [13]:
# Split input IDs, labels, and masks for training and validation sets

train_inp,val_inp,train_label,val_label,train_mask,val_mask=train_test_split(input_ids,labels,attention_masks,test_size=0.25, random_state=857)
print('Train inp shape {} Val input shape {}\nTrain label shape {} Val label shape {}\nTrain attention mask shape {} Val attention mask shape {}'.format(train_inp.shape,val_inp.shape,train_label.shape,val_label.shape,train_mask.shape,val_mask.shape))

Train inp shape (710, 384) Val input shape (237, 384)
Train label shape (710,) Val label shape (237,)
Train attention mask shape (710, 384) Val attention mask shape (237, 384)

In [31]:
# Training and validation
# With early stopping when criterion is met

with strategy.scope():

  Loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
  Metric = tf.keras.metrics.SparseCategoricalAccuracy()
  callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=5)
  Optimizer = tf.keras.optimizers.Adam(learning_rate=0.0000091,epsilon=5e-10)
  bert_tokenizer = BertTokenizer.from_pretrained("bert-base-cased")
  bert_model = TFBertForSequenceClassification.from_pretrained('bert-base-cased', num_labels=14)
  bert_model.compile(loss=Loss, metrics=Metric,optimizer=Optimizer)
  history=bert_model.fit([train_inp,train_mask],train_label,batch_size=64,epochs=100,validation_data=([val_inp,val_mask],val_label),callbacks=[callback])

loading file https://huggingface.co/bert-base-cased/resolve/main/vocab.txt from cache at /root/.cache/huggingface/transformers/6508e60ab3c1200bffa26c95f4b58ac6b6d95fba4db1f195f632fa3cd7bc64cc.437aa611e89f6fc6675a049d2b5545390adbc617e7d655286421c191d2be2791
loading file https://huggingface.co/bert-base-cased/resolve/main/added_tokens.json from cache at None
loading file https://huggingface.co/bert-base-cased/resolve/main/special_tokens_map.json from cache at None
loading file https://huggingface.co/bert-base-cased/resolve/main/tokenizer_config.json from cache at /root/.cache/huggingface/transformers/ec84e86ee39bfe112543192cf981deebf7e6cbe8c91b8f7f8f63c9be44366158.ec5c189f89475aac7d8cbd243960a0655cfadc3d0474da8ff2ed0bf1699c2a5f
loading configuration file https://huggingface.co/bert-base-cased/resolve/main/config.json from cache at /root/.cache/huggingface/transformers/a803e0468a8fe090683bdc453f4fac622804f49de86d7cecaee92365d4a0f829.a64a22196690e0e82ead56f388a3ef3a50de93335926ccfa20610217db589307
Model config BertConfig {
  "_name_or_path": "bert-base-cased",
  "architectures": [
    "BertForMaskedLM"
  ],
  "attention_probs_dropout_prob": 0.1,
  "classifier_dropout": null,
  "gradient_checkpointing": false,
  "hidden_act": "gelu",
  "hidden_dropout_prob": 0.1,
  "hidden_size": 768,
  "initializer_range": 0.02,
  "intermediate_size": 3072,
  "layer_norm_eps": 1e-12,
  "max_position_embeddings": 512,
  "model_type": "bert",
  "num_attention_heads": 12,
  "num_hidden_layers": 12,
  "pad_token_id": 0,
  "position_embedding_type": "absolute",
  "transformers_version": "4.18.0",
  "type_vocab_size": 2,
  "use_cache": true,
  "vocab_size": 28996
}

loading configuration file https://huggingface.co/bert-base-cased/resolve/main/config.json from cache at /root/.cache/huggingface/transformers/a803e0468a8fe090683bdc453f4fac622804f49de86d7cecaee92365d4a0f829.a64a22196690e0e82ead56f388a3ef3a50de93335926ccfa20610217db589307
Model config BertConfig {
  "architectures": [
    "BertForMaskedLM"
  ],
  "attention_probs_dropout_prob": 0.1,
  "classifier_dropout": null,
  "gradient_checkpointing": false,
  "hidden_act": "gelu",
  "hidden_dropout_prob": 0.1,
  "hidden_size": 768,
  "id2label": {
    "0": "LABEL_0",
    "1": "LABEL_1",
    "2": "LABEL_2",
    "3": "LABEL_3",
    "4": "LABEL_4",
    "5": "LABEL_5",
    "6": "LABEL_6",
    "7": "LABEL_7",
    "8": "LABEL_8",
    "9": "LABEL_9",
    "10": "LABEL_10",
    "11": "LABEL_11",
    "12": "LABEL_12",
    "13": "LABEL_13"
  },
  "initializer_range": 0.02,
  "intermediate_size": 3072,
  "label2id": {
    "LABEL_0": 0,
    "LABEL_1": 1,
    "LABEL_10": 10,
    "LABEL_11": 11,
    "LABEL_12": 12,
    "LABEL_13": 13,
    "LABEL_2": 2,
    "LABEL_3": 3,
    "LABEL_4": 4,
    "LABEL_5": 5,
    "LABEL_6": 6,
    "LABEL_7": 7,
    "LABEL_8": 8,
    "LABEL_9": 9
  },
  "layer_norm_eps": 1e-12,
  "max_position_embeddings": 512,
  "model_type": "bert",
  "num_attention_heads": 12,
  "num_hidden_layers": 12,
  "pad_token_id": 0,
  "position_embedding_type": "absolute",
  "transformers_version": "4.18.0",
  "type_vocab_size": 2,
  "use_cache": true,
  "vocab_size": 28996
}

loading weights file https://huggingface.co/bert-base-cased/resolve/main/tf_model.h5 from cache at /root/.cache/huggingface/transformers/01800f4158e284e2447020e0124bc3f6aea3ac49848e744594f7cce8ee5ac0a4.a7137b2090d9302d722735af604b4c142ec9d1bfc31be7cbbe230aea9d5cfb76.h5
All model checkpoint layers were used when initializing TFBertForSequenceClassification.

Some layers of TFBertForSequenceClassification were not initialized from the model checkpoint at bert-base-cased and are newly initialized: ['classifier']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Epoch 1/100
12/12 [==============================] - 161s 6s/step - loss: 2.6868 - sparse_categorical_accuracy: 0.0704 - val_loss: 2.6331 - val_sparse_categorical_accuracy: 0.0675
Epoch 2/100
12/12 [==============================] - 3s 264ms/step - loss: 2.6204 - sparse_categorical_accuracy: 0.0944 - val_loss: 2.5867 - val_sparse_categorical_accuracy: 0.1435
Epoch 3/100
12/12 [==============================] - 3s 264ms/step - loss: 2.5366 - sparse_categorical_accuracy: 0.1563 - val_loss: 2.5084 - val_sparse_categorical_accuracy: 0.1688
Epoch 4/100
12/12 [==============================] - 3s 263ms/step - loss: 2.4490 - sparse_categorical_accuracy: 0.1831 - val_loss: 2.3891 - val_sparse_categorical_accuracy: 0.2321
Epoch 5/100
12/12 [==============================] - 3s 298ms/step - loss: 2.2889 - sparse_categorical_accuracy: 0.3493 - val_loss: 2.2376 - val_sparse_categorical_accuracy: 0.3713
Epoch 6/100
12/12 [==============================] - 3s 265ms/step - loss: 2.1097 - sparse_categorical_accuracy: 0.4958 - val_loss: 2.0626 - val_sparse_categorical_accuracy: 0.4768
Epoch 7/100
12/12 [==============================] - 3s 264ms/step - loss: 1.9251 - sparse_categorical_accuracy: 0.6113 - val_loss: 1.8602 - val_sparse_categorical_accuracy: 0.6624
Epoch 8/100
12/12 [==============================] - 3s 265ms/step - loss: 1.7268 - sparse_categorical_accuracy: 0.7197 - val_loss: 1.6547 - val_sparse_categorical_accuracy: 0.7004
Epoch 9/100
12/12 [==============================] - 3s 270ms/step - loss: 1.5497 - sparse_categorical_accuracy: 0.7817 - val_loss: 1.4684 - val_sparse_categorical_accuracy: 0.7342
Epoch 10/100
12/12 [==============================] - 3s 265ms/step - loss: 1.3720 - sparse_categorical_accuracy: 0.8141 - val_loss: 1.3114 - val_sparse_categorical_accuracy: 0.7764
Epoch 11/100
12/12 [==============================] - 4s 319ms/step - loss: 1.2136 - sparse_categorical_accuracy: 0.8437 - val_loss: 1.1724 - val_sparse_categorical_accuracy: 0.7975
Epoch 12/100
12/12 [==============================] - 4s 315ms/step - loss: 1.0627 - sparse_categorical_accuracy: 0.8789 - val_loss: 1.0440 - val_sparse_categorical_accuracy: 0.8017
Epoch 13/100
12/12 [==============================] - 3s 266ms/step - loss: 0.9363 - sparse_categorical_accuracy: 0.8986 - val_loss: 0.9410 - val_sparse_categorical_accuracy: 0.8228
Epoch 14/100
12/12 [==============================] - 3s 267ms/step - loss: 0.8169 - sparse_categorical_accuracy: 0.9254 - val_loss: 0.8434 - val_sparse_categorical_accuracy: 0.8565
Epoch 15/100
12/12 [==============================] - 3s 264ms/step - loss: 0.7182 - sparse_categorical_accuracy: 0.9254 - val_loss: 0.7541 - val_sparse_categorical_accuracy: 0.8692
Epoch 16/100
12/12 [==============================] - 3s 267ms/step - loss: 0.6379 - sparse_categorical_accuracy: 0.9465 - val_loss: 0.6922 - val_sparse_categorical_accuracy: 0.8734
Epoch 17/100
12/12 [==============================] - 3s 269ms/step - loss: 0.5606 - sparse_categorical_accuracy: 0.9690 - val_loss: 0.6225 - val_sparse_categorical_accuracy: 0.9114
Epoch 18/100
12/12 [==============================] - 3s 268ms/step - loss: 0.4924 - sparse_categorical_accuracy: 0.9746 - val_loss: 0.5855 - val_sparse_categorical_accuracy: 0.9072
Epoch 19/100
12/12 [==============================] - 3s 269ms/step - loss: 0.4289 - sparse_categorical_accuracy: 0.9803 - val_loss: 0.5455 - val_sparse_categorical_accuracy: 0.9114
Epoch 20/100
12/12 [==============================] - 3s 264ms/step - loss: 0.3817 - sparse_categorical_accuracy: 0.9873 - val_loss: 0.5122 - val_sparse_categorical_accuracy: 0.9156
Epoch 21/100
12/12 [==============================] - 3s 265ms/step - loss: 0.3337 - sparse_categorical_accuracy: 0.9887 - val_loss: 0.4842 - val_sparse_categorical_accuracy: 0.9072
Epoch 22/100
12/12 [==============================] - 3s 269ms/step - loss: 0.3008 - sparse_categorical_accuracy: 0.9958 - val_loss: 0.4667 - val_sparse_categorical_accuracy: 0.9072
Epoch 23/100
12/12 [==============================] - 3s 270ms/step - loss: 0.2611 - sparse_categorical_accuracy: 0.9958 - val_loss: 0.4407 - val_sparse_categorical_accuracy: 0.9072
Epoch 24/100
12/12 [==============================] - 3s 268ms/step - loss: 0.2351 - sparse_categorical_accuracy: 0.9986 - val_loss: 0.4112 - val_sparse_categorical_accuracy: 0.9156
Epoch 25/100
12/12 [==============================] - 3s 269ms/step - loss: 0.2063 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3870 - val_sparse_categorical_accuracy: 0.9198
Epoch 26/100
12/12 [==============================] - 3s 272ms/step - loss: 0.1885 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3740 - val_sparse_categorical_accuracy: 0.9072
Epoch 27/100
12/12 [==============================] - 3s 277ms/step - loss: 0.1715 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3535 - val_sparse_categorical_accuracy: 0.9114
Epoch 28/100
12/12 [==============================] - 3s 275ms/step - loss: 0.1560 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3498 - val_sparse_categorical_accuracy: 0.9156
Epoch 29/100
12/12 [==============================] - 3s 268ms/step - loss: 0.1426 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3455 - val_sparse_categorical_accuracy: 0.9156
Epoch 30/100
12/12 [==============================] - 3s 270ms/step - loss: 0.1329 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3432 - val_sparse_categorical_accuracy: 0.9156
Epoch 31/100
12/12 [==============================] - 3s 265ms/step - loss: 0.1231 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3379 - val_sparse_categorical_accuracy: 0.9156
Epoch 32/100
12/12 [==============================] - 3s 269ms/step - loss: 0.1157 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3304 - val_sparse_categorical_accuracy: 0.9198
Epoch 33/100
12/12 [==============================] - 3s 273ms/step - loss: 0.1079 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3271 - val_sparse_categorical_accuracy: 0.9156
Epoch 34/100
12/12 [==============================] - 3s 267ms/step - loss: 0.1013 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3200 - val_sparse_categorical_accuracy: 0.9156
Epoch 35/100
12/12 [==============================] - 3s 266ms/step - loss: 0.0968 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3129 - val_sparse_categorical_accuracy: 0.9198
Epoch 36/100
12/12 [==============================] - 3s 267ms/step - loss: 0.0905 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3103 - val_sparse_categorical_accuracy: 0.9156
Epoch 37/100
12/12 [==============================] - 3s 265ms/step - loss: 0.0855 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3123 - val_sparse_categorical_accuracy: 0.9156
Epoch 38/100
12/12 [==============================] - 3s 267ms/step - loss: 0.0818 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3021 - val_sparse_categorical_accuracy: 0.9156
Epoch 39/100
12/12 [==============================] - 3s 265ms/step - loss: 0.0772 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3025 - val_sparse_categorical_accuracy: 0.9198
Epoch 40/100
12/12 [==============================] - 3s 265ms/step - loss: 0.0745 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3060 - val_sparse_categorical_accuracy: 0.9198
Epoch 41/100
12/12 [==============================] - 3s 266ms/step - loss: 0.0707 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2933 - val_sparse_categorical_accuracy: 0.9241
Epoch 42/100
12/12 [==============================] - 3s 271ms/step - loss: 0.0677 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2945 - val_sparse_categorical_accuracy: 0.9198
Epoch 43/100
12/12 [==============================] - 3s 275ms/step - loss: 0.0644 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3037 - val_sparse_categorical_accuracy: 0.9198
Epoch 44/100
12/12 [==============================] - 3s 265ms/step - loss: 0.0624 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2969 - val_sparse_categorical_accuracy: 0.9198
Epoch 45/100
12/12 [==============================] - 3s 268ms/step - loss: 0.0599 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3000 - val_sparse_categorical_accuracy: 0.9198
Epoch 46/100
12/12 [==============================] - 3s 266ms/step - loss: 0.0579 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2920 - val_sparse_categorical_accuracy: 0.9241
Epoch 47/100
12/12 [==============================] - 3s 272ms/step - loss: 0.0554 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2948 - val_sparse_categorical_accuracy: 0.9198
Epoch 48/100
12/12 [==============================] - 3s 267ms/step - loss: 0.0534 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2954 - val_sparse_categorical_accuracy: 0.9198
Epoch 49/100
12/12 [==============================] - 3s 272ms/step - loss: 0.0515 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2937 - val_sparse_categorical_accuracy: 0.9241
Epoch 50/100
12/12 [==============================] - 3s 266ms/step - loss: 0.0498 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2932 - val_sparse_categorical_accuracy: 0.9198
Epoch 51/100
12/12 [==============================] - 3s 267ms/step - loss: 0.0476 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2922 - val_sparse_categorical_accuracy: 0.9198

In [32]:
# Split texts (raw data) into train and validation sets so that validation set can be examined.

X_tr, X_ts, Y_tr, Y_ts=train_test_split(data['clean text'],data['Label'],test_size=0.25, random_state=857)

# Make a table for the validation set alone
val_set = pd.DataFrame(X_ts)
val_set['Label'] = Y_ts
y_true = list(Y_ts)

In [33]:
#Obtain predicted categories from the trained BERT model

pred = bert_model([val_inp,val_mask])

In [34]:
# predicted for predicted label
# pred_cat for predicted category name
# true_cat for actual category
predicted, pred_cat, true_cat = rev_label(pred, X_ts, y_true)

val_set['predicted'] = predicted
val_set['true_cat'] = true_cat
val_set['pred_cat'] = pred_cat

In [35]:
print('Incorrectly predicted news pieces in total:',len(val_set[val_set['Label']!=val_set['predicted']]))
val_set[val_set['Label']!=val_set['predicted']]

Incorrectly predicted news pieces in total: 19

,clean text,Label,predicted,true_cat,pred_cat
232,"Intact Coffins Discovered in Saqqara. CAIRO, E...",5,6,Egyptian,Near East
566,Mithraeum Excavated in Rome’s Port of Ostia. B...,2,5,Roman,Egyptian
465,"Rare 5,000-Year-Old Sword Identified in Venice...",7,12,Bronze Age,Iron Age
827,New Thoughts on the Causes of Angkor’s Decline...,4,10,South&Southeast Asia,Medieval
934,Traces of Nicotine Detected in Ancient Dental ...,11,1,Native American,Pre-Columbian
349,New Thoughts on Turkey’s Oldest Temple Complex...,3,7,Neolithic,Bronze Age
290,Smuggling Attempt Foiled at Egypt’s Port of Al...,6,5,Near East,Egyptian
510,Skull Study Reveals Diversity Among First Nort...,11,8,Native American,Paleolithic
706,New Evidence for Hunter-Gatherer Trade in Nort...,11,8,Native American,Paleolithic
360,Ancient Amphitheater Investigated in Anatolia....,12,3,Iron Age,Neolithic
316,Study Suggests East Africa’s Ancient Pastorali...,3,8,Neolithic,Paleolithic
403,High-Altitude Roundhouse Dated in Scotland. GL...,7,12,Bronze Age,Iron Age
280,New Thoughts on Corn Cultivation at Cahokia. C...,11,1,Native American,Pre-Columbian
918,DNA Reflects History of Migrations in Southeas...,4,8,South&Southeast Asia,Paleolithic
91,"2,500-Year-Old Bronze Statue Found at Saqqara....",5,7,Egyptian,Bronze Age
854,Colonization of the Americas May Have Cooled G...,11,1,Native American,Pre-Columbian
759,"More Megalithic Jars Mapped in Laos. CANBERRA,...",4,8,South&Southeast Asia,Paleolithic
626,Iron Tools Dating to Byzantine Period Uncovere...,6,12,Near East,Iron Age
291,Scythian Grave Unearthed in Southern Siberia. ...,12,7,Iron Age,Bronze Age

# Test Data and Evaluation

In [36]:
# Contains test data set which is somewhat more difficult than any validation set
# Test data set has only 1 label per news story
Easy_test = pd.read_csv('ARCHAIC_test.csv')

In [37]:
# A place to assure there are no duplicates from the training set in the test sets
DUP = []
arch_testing = list(Easy_test['url'])
for j in range(len(data['url'])):
  if data.at[j,'url'] in arch_testing:
    DUP.append(data.at[j,'url'])
    print(j)
  else:
    pass

#If there is anything in DUP, it has to be removed from the test data set.
DUP

[]

In [38]:
# Create a numerical label column for the Easy_test table
Easy_test, Easy_len=col_label(Easy_test)

# encode the texts in Easy_test
test_input_ids, test_attention_masks, test_labels = Encode(Easy_test)

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
/usr/local/lib/python3.7/dist-packages/transformers/tokenization_utils_base.py:2269: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  FutureWarning,

In [39]:
# Predicting news category on the test set
Easy_test_pred = bert_model([test_input_ids,test_attention_masks])

# Add predicted label and category columns to the Easy_test table
es_predicted, es_pred_cat, es_true_cat = rev_label(Easy_test_pred, Easy_test['clean text'], test_labels)

Easy_test['predicted'] = es_predicted
Easy_test['true_cat'] = es_true_cat
Easy_test['pred_cat'] = es_pred_cat

In [40]:
# Accuracy for the main test set (1 label)

ACCU = sklearn.metrics.accuracy_score(Easy_test['Label'], Easy_test['predicted'], normalize=True, sample_weight=None)
print('Easy_test Accuracy =',round((ACCU*100),2))

Easy_test Accuracy = 85.4

In [41]:
print('Wrongly predicted news pieces from test set:',len(Easy_test[Easy_test['Label']!=Easy_test['predicted']]))
Easy_test[Easy_test['Label']!=Easy_test['predicted']][['clean text','category','pred_cat']]

Wrongly predicted news pieces from test set: 138

,clean text,category,pred_cat
0,Nomadic Warriors’ Remains Unearthed in Croatia...,Medieval,Roman
1,"New Study Suggests Measles Virus is 2,500 Year...",Iron Age,East Asia
2,Canaanite Fortress Unearthed in Southern Israe...,Bronze Age,Near East
3,Ancient Hue Detected in Renaissance Painting. ...,Medieval,Roman
6,New Date Pinpoints Construction of Medieval Uy...,Medieval,East Asia
14,Face of Priest Buried at Lincoln Cathedral Rec...,Medieval,Neolithic
26,Possible Traces of Antebellum Home Unearthed i...,Modern,Native American
27,Secret Passage Discovered in London’s House of...,Medieval,Modern
34,Soviet Shortwave Spy Radio Unearthed in Wester...,Modern,Roman
39,Researchers Will Search for Spanish Treasure S...,Medieval,Modern
42,Possible 18th-Century Sailor’s Skeleton Uneart...,Modern,Medieval
80,Napoleonic-Era Field Kitchen Discovered in Gue...,Modern,Bronze Age
83,Did Human Hunters Alone Wipe Out the Great Auk...,Paleolithic,Neolithic
84,"1,000-Year-Old Ship Burial Found in Norway. OS...",Medieval,Neolithic
99,Seventeenth-Century Hawking Ring Found in Engl...,Medieval,Modern
106,Lidar Survey Detects Ring Cairn in Gloucesters...,Neolithic,Bronze Age
112,Genetic Analysis Links Scottish Highland Skele...,Medieval,Iron Age
115,Study Shows Shellfish Thrived in Canada's Anci...,Native American,Paleolithic
117,Excavators Return to 18th-Century Pub Site in ...,Modern,Medieval
130,Ancient Statue Unearthed on Turkish Coast. ANT...,Roman,Iron Age
133,Tooth Enamel Reveals Sex of Ancient Individual...,Roman,Medieval
135,Possible Pictish Cemetery Found in Scotland. R...,Medieval,Neolithic
142,19th-Century Industrial Site Excavated in New ...,Modern,Native American
144,Iron Age Village Unearthed in Western India. M...,South&Southeast Asia,Iron Age
150,Ottoman-Era Tunnel Found in Ancient Tomb. PLOV...,Medieval,Roman
151,Excavation Uncovers Turkey’s Sacred Road. MUGL...,Iron Age,Bronze Age
153,"Votive Deposit Discovered in Sicily. PALERMO, ...",Iron Age,Roman
157,Ancient Industrial Structures Unearthed on Cyp...,Roman,Iron Age
172,Sixth-Century Town Surveyed in Spain. ALCALÁ D...,Medieval,Near East
173,Germany Repatriates Ancient Sculpture to Italy...,Roman,Medieval
181,Colonial-Era Home Excavated in New Hampshire. ...,Medieval,Native American
185,Second-Century Engraving Unearthed in Bulgaria...,Roman,Iron Age
188,18th-Century Ammunition Found at Uprising Site...,Modern,Medieval
194,Herders and Hunter-Gatherers Shared Genes in E...,Neolithic,Paleolithic
195,"Ancient Tomb Unearthed in Bulgaria. SOFIA, BUL...",Roman,Near East
197,Who Were Scotland’s First Famers?. ABERDEENSHI...,Neolithic,Iron Age
199,"Stone Age Ax Unearthed in Wales. TALSARN, WALE...",Neolithic,Bronze Age
203,City Gate Discovered at Bulgaria’s Ancient Cit...,Medieval,Near East
204,Tiny Tools From Israel’s Qesem Cave Analyzed. ...,Pre-Human,Paleolithic
218,Sarmatian Kurgan Discovered in Russia. NIKOLSK...,Iron Age,Bronze Age
220,DNA Extracted From Sweden’s Prehistoric “Chewi...,Paleolithic,Neolithic
222,Altar Dedicated to Nemesis Uncovered in Mytile...,Roman,Iron Age
227,Ancient Climate Linked to Dip in South America...,Neolithic,Pre-Columbian
238,Analysis Reveals Imitation Amber in Prehistori...,Neolithic,Paleolithic
243,Byzantine-Era Structures Identified at Istanbu...,Roman,Near East
247,Artifacts Push Back Possible Settlement of Ama...,Paleolithic,Pre-Columbian
251,Possible Sons of Crusaders Identified in Medie...,Medieval,Near East
253,"13,500-Year-Old Burial Unearthed in China. GUA...",Paleolithic,East Asia
255,"Scientists Analyze 2,000-Year-Old Remains in P...",Iron Age,Modern
263,Possible New Early Human Discovered in the Phi...,Paleolithic,Pre-Human
278,Norway to Return Easter Island Artifacts. SANT...,Modern,Pre-Columbian
282,"Etruscan Tomb Unearthed in Corsica. ALERIA, CO...",Iron Age,Roman
285,Seventeenth-Century Artifacts Unearthed in Con...,Medieval,Modern
296,New Thoughts on Paleolithic Hunters. PETERBORO...,Pre-Human,Paleolithic
322,Archaeologists Investigate Florida’s Cape Cana...,Modern,Native American
341,When Did Sailors First Cross the Strait of Gib...,Bronze Age,Medieval
347,Survey Detects Prehistoric Defenses in Poland....,Neolithic,Bronze Age
349,Stone Age Site Discovered in Norway. STAVANGER...,Paleolithic,Neolithic
355,"Dogs May Have Helped Humans Hunt 11,500 Years ...",Paleolithic,Neolithic
356,Submerged Prehistoric Site Discovered in Scotl...,Paleolithic,Neolithic
362,Copper-Age Axes Unearthed in Bulgaria. POLKOVN...,Neolithic,Bronze Age
382,Study Dates Hilltop Settlement in Scotland. RH...,Roman,Medieval
386,Ancient Aramaic Inscription Uncovered in Turke...,Iron Age,Bronze Age
388,"2,000-Year-Old Copper Figurine Unearthed in En...",Roman,Iron Age
403,Germanic Cemetery in Poland Investigated. GORZ...,Iron Age,Medieval
404,"Mosaic Fragment Returned to Turkey. GAZIANTEP,...",Iron Age,Near East
414,Skeleton Wearing Leather Boots Recovered From ...,Medieval,Neolithic
416,Fresh DNA Analysis Revises Bronze Age Woman’s ...,Neolithic,Bronze Age
420,Stone Tool Workshop Unearthed in Tibet. BEIJIN...,Paleolithic,Pre-Human
433,Ottoman-Era Turbah Unearthed in Slovakia. FIL’...,Medieval,Near East
434,New Thoughts on Prehistoric Tool Making in Chi...,Pre-Human,Paleolithic
462,Fossils Offer Insights Into Possible Route Out...,Pre-Human,Paleolithic
463,Decorations Revealed on Conserved Spanish Armo...,Medieval,Modern
465,Early English Colony Excavated in Connecticut....,Medieval,Modern
471,New Dates Obtained for Scotland’s Pictish Symb...,Roman,Iron Age
482,Ancient Human Remains Retrieved From Burned Mu...,Paleolithic,Pre-Human
488,Amulet Shaped Like Thor’s Hammer Uncovered in ...,Medieval,Neolithic
517,Thousands of Petroglyphs Uncovered in Western ...,Paleolithic,South&Southeast Asia
532,"Shipwreck Discovered Near Portugal. LISBON, PO...",Medieval,East Asia
540,Well-Preserved Mummy Discovered in Aswan. ASWA...,Egyptian,Bronze Age
551,"Evidence of 13,000-Year-Old Beer Found in Isra...",Paleolithic,Bronze Age
572,"Iberian Amber Traced to Sicily. GRANADA, SPAIN...",Neolithic,Bronze Age
579,Cold Spells May Have Doomed Neanderthals. COLO...,Paleolithic,Pre-Human
580,Cape Cod Dig Reveals 17th-Century Settlement. ...,Medieval,Native American
589,England’s Drought Reveals 18th-Century Forest ...,Modern,Medieval
603,Christian Pectoral Cross Unearthed in Bulgaria...,Medieval,Near East
619,Heat Wave Reveals Castle Outline in Ireland. C...,Modern,Medieval
623,Bimah Discovered at Site of Lithuania’s Great ...,Medieval,Near East
631,"Burial Mound Unearthed in Kazakhstan. ASTANA, ...",Iron Age,Bronze Age
632,Three Hundred Years of History Uncovered in Qu...,Modern,Native American
633,Early Agriculture in the Jordan Valley. TEL TS...,Neolithic,Bronze Age
634,18th-Century Water Pipes Discovered in Edinbur...,Modern,Medieval
648,Colonial-Era Artifacts Uncovered in Michigan. ...,Modern,Native American
651,New Dates for Ancient Arctic Fibers. PROVIDENC...,Medieval,Neolithic
662,Bits of Ancient Bread Unearthed in Jordan. COP...,Paleolithic,Near East
668,"Unusual 2,500-Year-Old Skull Found in Burial C...",Iron Age,Paleolithic
672,"New Thoughts on Human Evolution. JENA, GERMANY...",Paleolithic,Pre-Human
675,"Odyssey Excerpt Uncovered in Greece. ATHENS, G...",Roman,Iron Age
700,Colonial-Era Graves Unearthed in St. Augustine...,Medieval,Modern
701,"Four Canopic Jars Uncovered in Luxor. LUXOR, E...",Egyptian,Bronze Age
704,"Shipwreck Unearthed in Denmark. VORDINGBORG, D...",Medieval,Modern
707,Ötzi the Iceman’s Copper-Age Tools Analyzed. F...,Neolithic,Bronze Age
721,1719 Battlefield Site Surveyed in Scotland. WE...,Modern,Medieval
724,"3,000-Year-Old Road Will Be Preserved in Irela...",Bronze Age,Neolithic
725,Possible Forgotten Illyrian City Found in Alba...,Iron Age,Roman
731,"Did Most Men Die Off 7,000 Years Ago?. STANFOR...",Neolithic,Paleolithic
732,"Small, Sculpted Head May Depict Ancient King. ...",Iron Age,Near East
735,Intact Tomb Dating to Fourth Century B.C. Foun...,Iron Age,Roman
736,Seventeenth-Century Cellar Identified at James...,Medieval,Modern
738,Icelanders' Genetic Heritage Analyzed. REYKJAV...,Medieval,Neolithic
739,New Dates Push Back Use of Olive Oil in Italy....,Bronze Age,Neolithic
756,"30,000-Year-Old Modern Human Bones Found in Si...",Paleolithic,Pre-Human
776,Genetic Study Estimates Number of First New Wo...,Paleolithic,Native American
778,"Hepatitis B Detected in 4,500-Year-Old Remains...",Neolithic,Bronze Age
786,Third Radar Study of Tutankhamun’s Tomb Comple...,Egyptian,Near East
801,Well-Preserved Chariot Horse Found in Sudan. S...,Iron Age,Bronze Age
805,New Dates Obtained for Russia’s Shigir Idol. Y...,Paleolithic,Neolithic
807,"New Thoughts on Shovel-Shaped Teeth. BERKELEY,...",Paleolithic,Native American
812,"When Did Humans First Use Symbols?. AARHUS, DE...",Paleolithic,Pre-Human
819,Egyptian Papyrus Retells Biblical Story of Abr...,Near East,Egyptian
822,Skeletal Study of Custer’s Men Questions Suici...,Modern,Native American
830,Cache of Meroitic Texts Recovered in Sudan. KH...,Iron Age,Egyptian
835,Historic Slaughterhouse Unearthed in Scotland....,Modern,Medieval
836,Stone Age Scandinavians May Have Relied on Fis...,Paleolithic,Iron Age
837,Early Migrants May Have Traveled Beyond the Le...,Paleolithic,Pre-Human
847,Coin Hoard Unearthed Near Corinth’s Harbor. BR...,Roman,Iron Age
877,Tool Discovery Pushes Back Onset of Middle Sto...,Paleolithic,Pre-Human
881,"Ancient Port City Found Near Naples. NAPLES, I...",Iron Age,Roman
894,Cannonballs Unearthed at Malaysia’s Fort Cornw...,Modern,South&Southeast Asia
898,Spanish Pistol Part Identified in Colorado. ME...,Medieval,Native American
911,Aphrodite Sculpture and Mosaics Found in Greec...,Roman,Near East
913,Early Stone Tools Found in Eastern India. ODIS...,Paleolithic,South&Southeast Asia
927,Scholars Analyze Russia’s Sunghir Burials. ST....,Paleolithic,Neolithic
929,Ice-Age Artifacts Dated in the Netherlands. LE...,Pre-Human,Paleolithic
930,Sweden’s Underwater Hunter-Gatherer Burial. VÄ...,Neolithic,Paleolithic
937,High-Quality Mosaic Uncovered in Caesarea. CAE...,Roman,Near East
939,"Scientists Map Cheddar Man’s Genome. LONDON, E...",Paleolithic,Neolithic
944,"Chinese Mummies Unearthed in Peru. LIMA, PERU—...",Modern,Pre-Columbian

There are news stories which cannot be assigned to a single category as the content shows an overlap of 2 categories or more. Each news piece in the test data set below has been given 2 labels only for simplicity even though some of them are relevant to 3 categories. The news stories below are considered much more difficult to classify than the single-label test data set.

In [42]:
# A different test data set with 2 classes assgined to each news story
Hard_test = pd.read_csv('ARCHAIC_2labels.csv')

# Assign the primary label first (not necessarily the dominant class)
Hard_test, Hard_over_384 = col_label(Hard_test)

In [43]:
# Set up the numerical label column for the 2nd category
Hard_test['2nd_Label'] = 0 # want integers only
pair = []

for i in Hard_test.index:
      
  Hard_test.at[i,'2nd_Label'] = CL[Hard_test.at[i,'2nd category']]
  b = Hard_test.at[i,'2nd_Label']
  a = Hard_test.at[i,'Label']
  twin = [a,b]
  pair.append(twin)

# Add a column with a list of two numerical labels for each news piece
Hard_test['twin label'] = pair

In [44]:
Hard_input_ids,Hard_attention_masks, Hard_labels = Encode(Hard_test)
Hard_test_pred = bert_model([Hard_input_ids,Hard_attention_masks])

# Collect predicted twin labels using the argsort function. The last two positions in the argsort results give max. and 2nd highest probability values
hd_predicted =[]

for l in range(len(Hard_test)):
  twin_index= (np.argsort(Hard_test_pred[0][l]))[-2 :]
  hd_predicted.append(twin_index)

Hard_test['predicted'] = hd_predicted  

# Custom scoring - both labels correct - 1, only one label correct - 0.5

score = 0

for j in Hard_test.index:
  if (Hard_test.at[j,'predicted'])[0] in Hard_test.at[j,'twin label']:
    score += 0.5
  else:
    pass
  if (Hard_test.at[j,'predicted'])[1] in Hard_test.at[j,'twin label']:
    score += 0.5
  else:
    pass

print('two-label accuracy =', round(score/(len(Hard_test))*100,2))

/usr/local/lib/python3.7/dist-packages/transformers/tokenization_utils_base.py:2269: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  FutureWarning,

two-label accuracy = 70.09

In [45]:
# Rearrange the order of columns in the table for readability
Hard_test = Hard_test[['url','clean text','category','2nd category','Label','2nd_Label','twin label','predicted']]
Hard_test[['clean text','category','2nd category','Label','2nd_Label','twin label','predicted']]

,clean text,category,2nd category,Label,2nd_Label,twin label,predicted
0,"Finds Spanning 4,000 Years Unearthed in Southe...",Neolithic,Iron Age,3,12,"[3, 12]","[3, 12]"
1,Genome Study Yields New Date for Arrival of TB...,Medieval,Neolithic,10,3,"[10, 3]","[10, 3]"
2,Early Christian Chalice Unearthed in Northern ...,Roman,Medieval,2,10,"[2, 10]","[10, 2]"
3,Multidisciplinary Study Tracks Spread of Rice ...,East Asia,South&Southeast Asia,9,4,"[9, 4]","[9, 4]"
4,Possible Ancient Longboat Recovered in Ireland...,Neolithic,Medieval,3,10,"[3, 10]","[10, 3]"
5,Three Well-Preserved Ancient Boats Unearthed i...,Roman,Medieval,2,10,"[2, 10]","[12, 2]"
6,Leather Balls Found in Ancient Graves in North...,Bronze Age,East Asia,7,9,"[7, 9]","[12, 9]"
7,Volunteers Spot New Sites in Aerial Images of ...,Roman,Medieval,2,10,"[2, 10]","[12, 2]"
8,"Snake Altar Unearthed in Turkey. ANTALYA, TURK...",Roman,Iron Age,2,12,"[2, 12]","[12, 4]"
9,Study Examines Food and Gender in Bronze Age C...,Bronze Age,East Asia,7,9,"[7, 9]","[9, 7]"
10,Main Gate Discovered at Harran Palace. SANLIUR...,Near East,Neolithic,6,3,"[6, 3]","[12, 7]"
11,Rock Art Discovered in Remote Cave in Thailand...,Neolithic,South&Southeast Asia,3,4,"[3, 4]","[3, 8]"
12,"Poland’s Prehistoric Diet Analyzed. WARSAW, PO...",Neolithic,Bronze Age,3,7,"[3, 7]","[3, 7]"
13,Evidence of Ancient Surgery Unearthed in Greec...,Roman,Medieval,2,10,"[2, 10]","[12, 2]"
14,Roles of Hunter-Gatherer Women Reevaluated. RE...,Native American,East Asia,11,9,"[11, 9]","[8, 11]"
15,Glacial Ice Melt Reveals Hundreds of Artifacts...,Iron Age,Medieval,12,10,"[12, 10]","[12, 10]"
16,Study Suggests New Dates for Spread of Farming...,Neolithic,East Asia,3,9,"[3, 9]","[9, 7]"
17,"2,000-Year-Old Date Seeds Sprout in Israel. JE...",Near East,Iron Age,6,12,"[6, 12]","[12, 6]"
18,Roman and Anglo-Saxon Graves Uncovered in Engl...,Roman,Medieval,2,10,"[2, 10]","[12, 2]"
19,Monkey from Southern Asia Identified in Ancien...,Bronze Age,South&Southeast Asia,7,4,"[7, 4]","[4, 7]"
20,Unusually Shaped Stones Unearthed in Prehistor...,Neolithic,Bronze Age,3,7,"[3, 7]","[10, 3]"
21,Iron Age Amulet from Egypt Unearthed in Oman. ...,Egyptian,Iron Age,5,12,"[5, 12]","[7, 12]"
22,DNA Study Tracks Ancestry of Today’s Finns. HE...,Medieval,Neolithic,10,3,"[10, 3]","[13, 3]"
23,20th-Century Artifact Found in 15th-Century Es...,Modern,Medieval,13,10,"[13, 10]","[13, 10]"
24,"Roman Catacomb Discovered in Egypt. KANAZAWA, ...",Egyptian,Roman,5,2,"[5, 2]","[2, 5]"
25,Archaeologist Maps Iceland’s Historic Shipwrec...,Medieval,Modern,10,13,"[10, 13]","[3, 10]"
26,Remnants of Ancient Wall Identified in Iran. T...,Iron Age,Near East,12,6,"[12, 6]","[7, 12]"
27,Lidar Technology Spots Archaeological Sites in...,Neolithic,Medieval,3,10,"[3, 10]","[10, 3]"
28,Study Reveals Ancient Fish-Cleaning Techniques...,Egyptian,Pre-Columbian,5,1,"[5, 1]","[6, 5]"
29,Migration May Have Contributed to Iron Age Cha...,Bronze Age,Iron Age,7,12,"[7, 12]","[12, 7]"
30,Chimpanzees Observed Fishing for Freshwater Cr...,Pre-Human,Paleolithic,0,8,"[0, 8]","[8, 0]"
31,Possible Bishop's Tomb Dating to Holy Roman Em...,Medieval,Roman,10,2,"[10, 2]","[10, 2]"
32,New Thoughts on France’s Tumulus des Sables. C...,Neolithic,Bronze Age,3,7,"[3, 7]","[12, 7]"
33,Archaeologists Brew Drinks With Revived Ancien...,Bronze Age,Near East,7,6,"[7, 6]","[5, 6]"
34,"Jomon Woman’s Genome Decoded in Japan. TOKYO, ...",East Asia,Neolithic,9,3,"[9, 3]","[7, 9]"
35,Traces of Siberian Genes Detected in Some Nort...,Bronze Age,Iron Age,7,12,"[7, 12]","[12, 7]"
36,Bronze Age Rock Art Discovered in China. GANSU...,East Asia,Bronze Age,9,7,"[9, 7]","[12, 7]"
37,Greco-Roman Era Tomb Found in Upper Egypt. CAI...,Egyptian,Roman,5,2,"[5, 2]","[2, 5]"
38,Possible Ritual Burials Discovered in Oxfordsh...,Iron Age,Bronze Age,12,7,"[12, 7]","[10, 12]"
39,Colonial-Era Trash Pit Found in Maryland. ANNA...,Modern,Native American,13,11,"[13, 11]","[7, 13]"
40,Iron Age Settlement Uncovered in Thailand. LOP...,South&Southeast Asia,Iron Age,4,12,"[4, 12]","[7, 12]"
41,"4,000-Year-Old Rock Art Discovered in Inner Mo...",Bronze Age,East Asia,7,9,"[7, 9]","[4, 9]"
42,Monument Offers Clues to Size of Cleopatra’s U...,Roman,Egyptian,2,5,"[2, 5]","[12, 2]"
43,Italy Returns Ancient Artifacts to China. ROME...,East Asia,Neolithic,9,3,"[9, 3]","[9, 2]"
44,New Thoughts on the Origins of Iron Smelting i...,Bronze Age,Iron Age,7,12,"[7, 12]","[7, 12]"
45,"2,500-Year-Old Pottery Fragment May Depict Jok...",Egyptian,Iron Age,5,12,"[5, 12]","[6, 5]"
46,DNA Study Investigates Migrations to Canary Is...,Iron Age,Medieval,12,10,"[12, 10]","[2, 1]"
47,Roman Tile Factory Unearthed in Northern Engla...,Roman,Medieval,2,10,"[2, 10]","[12, 2]"
48,Pig Bone Analysis Offers Hints to Human Travel...,Bronze Age,Neolithic,7,3,"[7, 3]","[0, 3]"
49,Scientists Discuss “Bioarchaeology of Care”. B...,Pre-Columbian,Egyptian,1,5,"[1, 5]","[5, 1]"
50,Dental Plaque Hints at Diet in Ancient Mongoli...,Bronze Age,East Asia,7,9,"[7, 9]","[9, 3]"
51,High-Tech Map Made of Scottish Islands. GLASGO...,Bronze Age,Neolithic,7,3,"[7, 3]","[3, 7]"
52,Triangle Markings Studied in Chalcolithic Ston...,Neolithic,Bronze Age,3,7,"[3, 7]","[7, 3]"
53,"Scientists Analyze 100,000-Year-Old Child’s Te...",Paleolithic,Pre-Human,8,0,"[8, 0]","[8, 0]"
54,Medieval Copper Production Settlement Found in...,Near East,Medieval,6,10,"[6, 10]","[10, 6]"
55,Rare Human Remains Recovered in Central Americ...,Pre-Columbian,Neolithic,1,3,"[1, 3]","[8, 1]"
56,Roman-Period Sarcophagi Found in Egypt. DAMIET...,Egyptian,Roman,5,2,"[5, 2]","[2, 5]"
57,Byzantine Churches Uncovered in Cyprus. AKROTI...,Medieval,Roman,10,2,"[10, 2]","[12, 6]"
58,New Dates Revealed for Stone Circle in Scotlan...,Modern,Neolithic,13,3,"[13, 3]","[10, 3]"
59,"U.S. Repatriates Coins to Cyprus. BALTIMORE, M...",Roman,East Asia,2,9,"[2, 9]","[12, 2]"
60,New Thoughts on Neanderthal Head Injuries. TÜB...,Pre-Human,Paleolithic,0,8,"[0, 8]","[8, 0]"
61,Genetic Studies Attempt to Track Peopling of t...,Paleolithic,Native American,8,11,"[8, 11]","[11, 1]"
62,Byzantine Fortress Investigated in Bulgaria. S...,Roman,Medieval,2,10,"[2, 10]","[12, 6]"
63,17th-Century Palisade Uncovered in Quebec City...,Modern,Medieval,13,10,"[13, 10]","[10, 13]"
64,Prehistoric Ax Discovered in Virginia. FAIRFAX...,Native American,Neolithic,11,3,"[11, 3]","[11, 8]"
65,Megalithic Statues Discovered in Indonesia. JA...,Neolithic,South&Southeast Asia,3,4,"[3, 4]","[3, 8]"
66,Prehistoric Cremation Urns Unearthed in Englan...,Bronze Age,Neolithic,7,3,"[7, 3]","[8, 3]"
67,"Scientists Analyze Roman “Red Dust”. GLASGOW, ...",Iron Age,Roman,12,2,"[12, 2]","[12, 2]"
68,Five Shipwrecks Found Near Greece’s Fourni Isl...,Roman,Iron Age,2,12,"[2, 12]","[2, 12]"
69,17th-Century Spanish Mission Building Studied ...,Medieval,Modern,10,13,"[10, 13]","[11, 13]"
70,"Sock from Roman Egypt Analyzed. LONDON, ENGLAN...",Egyptian,Roman,5,2,"[5, 2]","[5, 2]"
71,Archaeologists Examine Graffiti at Aizanoi’s T...,Near East,Roman,6,2,"[6, 2]","[6, 12]"
72,Ancient Cemetery and Neolithic Village Found i...,Iron Age,Neolithic,12,3,"[12, 3]","[12, 3]"
73,Archaeologists Look for Evidence of Past Child...,Bronze Age,Medieval,7,10,"[7, 10]","[12, 7]"
74,Ancient Gold and Pearls Discovered on Danish I...,Medieval,Roman,10,2,"[10, 2]","[10, 2]"
75,Sixth-Century Cemeteries Offer Clues to “Barba...,Roman,Medieval,2,10,"[2, 10]","[12, 2]"
76,Neolithic Farming Site Found in Nile Delta. DA...,Neolithic,Egyptian,3,5,"[3, 5]","[3, 5]"
77,Hidden Cave Door Found Under Scottish Castle. ...,Medieval,Iron Age,10,12,"[10, 12]","[12, 10]"
78,Remains of a Slovak Manor House Unearthed. BRA...,Medieval,Modern,10,13,"[10, 13]","[13, 7]"
79,"Mass Grave Unearthed in Sri Lanka. MANNAR, SRI...",Modern,South&Southeast Asia,13,4,"[13, 4]","[8, 4]"
80,Archaeological Sites Discovered On and Around ...,Iron Age,Medieval,12,10,"[12, 10]","[2, 12]"
81,Ancestral Puebloans May Have Bred Scarlet Maca...,Native American,Pre-Columbian,11,1,"[11, 1]","[1, 11]"
82,Potters’ Break Room Found in Central Israel. G...,Near East,Roman,6,2,"[6, 2]","[12, 2]"
83,"1,700-Year-Old Marble Bust Unearthed in Turkey...",Roman,Iron Age,2,12,"[2, 12]","[12, 2]"
84,Byzantine- and Roman-era Rooms Uncovered in Eg...,Egyptian,Roman,5,2,"[5, 2]","[2, 5]"
85,Henge Site Spotted in Ireland’s Boyne Valley. ...,Neolithic,Bronze Age,3,7,"[3, 7]","[3, 7]"
86,Traces of Roman and Medieval Industry Found in...,Roman,Medieval,2,10,"[2, 10]","[10, 2]"
87,Mongolia’s Earliest Evidence of Equine Dentist...,Iron Age,East Asia,12,9,"[12, 9]","[9, 7]"
88,Complete Jars Recovered From Cliffside Cave in...,Roman,Near East,2,6,"[2, 6]","[2, 6]"
89,Possible Sacrifice Victims Unearthed at Henge ...,Neolithic,Bronze Age,3,7,"[3, 7]","[12, 7]"
90,Seventeenth-Century Danish Latrines Analyzed. ...,Medieval,Modern,10,13,"[10, 13]","[13, 10]"
91,Seventh-Century Inscription Found at Tintagel ...,Medieval,Roman,10,2,"[10, 2]","[6, 10]"
92,Spanish Galleon Wreckage Discovered Off Coast ...,Medieval,Modern,10,13,"[10, 13]","[11, 13]"
93,Bronze Age Burial Excavated in England. CORNWA...,Medieval,Bronze Age,10,7,"[10, 7]","[6, 7]"
94,Pottery Inscription Provides New Dates for Jav...,East Asia,South&Southeast Asia,9,4,"[9, 4]","[4, 9]"
95,Greek Inscriptions Found at Roman-Era Temple i...,Egyptian,Roman,5,2,"[5, 2]","[2, 5]"
96,"Oslo Fjord’s Stone Age Settlements. OSLO, NORW...",Paleolithic,Neolithic,8,3,"[8, 3]","[12, 7]"
97,New Thoughts on the Spread of the Justinian Pl...,Roman,East Asia,2,9,"[2, 9]","[9, 12]"
98,Medieval Egyptian Pottery Found in Bulgaria. P...,Medieval,Egyptian,10,5,"[10, 5]","[6, 5]"
99,Flint Tools Found in Australia Were Made With ...,Modern,Paleolithic,13,8,"[13, 8]","[8, 13]"
100,"6,000 Years on a Landscape in East England Rev...",Neolithic,Medieval,3,10,"[3, 10]","[3, 10]"
101,Utrecht Inhabited Far Longer Than Previously T...,Neolithic,Bronze Age,3,7,"[3, 7]","[7, 3]"
102,Cannons Unearthed at Malaysia’s Fort Cornwalli...,Modern,South&Southeast Asia,13,4,"[13, 4]","[13, 4]"
103,Roman-Era Temple Unearthed in Upper Egypt. ASW...,Egyptian,Roman,5,2,"[5, 2]","[2, 5]"
104,"Study Re-creates 8,000-Year-Old Projectiles. F...",Paleolithic,Neolithic,8,3,"[8, 3]","[11, 8]"
105,Early Agricultural Hotspot Found in Amazonia. ...,Pre-Columbian,Neolithic,1,3,"[1, 3]","[8, 1]"
106,Roadwork Reveals Traces of Southwest Ireland’s...,Neolithic,Bronze Age,3,7,"[3, 7]","[6, 7]"

In [46]:
# Dictionary reference
CL

{'Bronze Age': 7,
 'East Asia': 9,
 'Egyptian': 5,
 'Iron Age': 12,
 'Medieval': 10,
 'Modern': 13,
 'Native American': 11,
 'Near East': 6,
 'Neolithic': 3,
 'Paleolithic': 8,
 'Pre-Columbian': 1,
 'Pre-Human': 0,
 'Roman': 2,
 'South&Southeast Asia': 4}