<a href="https://colab.research.google.com/github/jmachima/Archaeology_News/blob/main/Archaeology_News_BERT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Text Classification with content from archaeology.org/news (with permission from the editor-in-chief of Archaeology - A publication of the Archaeological Institute of America)

In [ ]:
import tensorflow as tf
import os

In [ ]:
# TPU will be used for text classification with BERT (Bidirectional Encoder Representations from Transformers).

resolver = tf.distribute.cluster_resolver.TPUClusterResolver(tpu='grpc://' + os.environ['COLAB_TPU_ADDR'])
tf.config.experimental_connect_to_cluster(resolver)
tf.tpu.experimental.initialize_tpu_system(resolver)
print("All devices: ", tf.config.list_logical_devices('TPU'))
strategy = tf.distribute.TPUStrategy(resolver)

In [ ]:
!pip install -q -U tensorflow-text
!pip install -q -U tf-models-official

In [ ]:
pip install transformers

In [ ]:
import tensorflow_hub as hub
import tensorflow_text as text  # A dependency of the preprocessing model
#import tensorflow_addons as tfa
import numpy as np

tf.get_logger().setLevel('ERROR')

In [ ]:
import pandas as pd
pd.options.display.max_rows = 999
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.metrics import accuracy_score
from transformers import *
from transformers import BertTokenizer, TFBertModel, BertConfig

In [ ]:
#bert-base-cased
bert_tokenizer = BertTokenizer.from_pretrained('bert-base-cased', output_attention=True)
# 14 text categories for text classification
bert_model = TFBertForSequenceClassification.from_pretrained('bert-base-cased',output_attentions=True, num_labels=14)

In [ ]:
from google.colab import files

# upload ARCHAIC_TrainAndValidate.csv for training and validation
files.upload()

In [ ]:
data = pd.read_csv('ARCHAIC_TrainAndValidate.csv')

Class = set(data['category'])  # List of unique categories

CL = dict(zip(Class,list(range(14)))) # convert categories into numericals

rvCL = dict(zip(list(range(14)),Class)) # reverse lookup for numerical label using another dictionary

print(CL)

{'Iron Age': 0, 'East Asia': 1, 'South&Southeast Asia': 2, 'Pre-Human': 3, 'Pre-Columbian': 4, 'Egyptian': 5, 'Medieval': 6, 'Paleolithic': 7, 'Modern': 8, 'Neolithic': 9, 'Native American': 10, 'Near East': 11, 'Roman': 12, 'Bronze Age': 13}

In [ ]:
# Function for assigning numerical category to news text
#Also check if a news piece has a sequence length longer than 384
def col_label(Table): 
 
  Table['Label'] = 0 # want integers only
  long=[]

  for i in Table.index:
      
      Table.at[i,'Label'] = CL[Table.at[i,'category']]
      tokens=bert_tokenizer.tokenize(Table.at[i,'clean text'])
      if len(tokens) > 384:
        print('i=',i, len(tokens))
        long.append([i,len(tokens)])
      else:
        pass
  return Table, long

In [ ]:
# Add a 'Label' column to the data table
data, over_384 = col_label(data)

i= 819 401

In [ ]:
# Assign input IDs and attention masks

def Encode(table):

  sentences=table['clean text']
  labels=table['Label']

  input_ids=[]
  attention_masks=[]

  for sent in sentences:
      bert_inp=bert_tokenizer.encode_plus(sent,add_special_tokens = True,max_length =384,pad_to_max_length = True,return_attention_mask = True)
      input_ids.append(bert_inp['input_ids'])
      attention_masks.append(bert_inp['attention_mask'])

  input_ids=np.asarray(input_ids)
  attention_masks=np.array(attention_masks)
  labels=np.array(labels)
  return input_ids, attention_masks, labels

In [ ]:
# IDs and masks for news texts

input_ids, attention_masks, labels = Encode(data)

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
/usr/local/lib/python3.7/dist-packages/transformers/tokenization_utils_base.py:2074: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  FutureWarning,

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# Split input IDs, labels, and masks for training and validation sets

train_inp,val_inp,train_label,val_label,train_mask,val_mask=train_test_split(input_ids,labels,attention_masks,test_size=0.25, random_state=94)
print('Train inp shape {} Val input shape {}\nTrain label shape {} Val label shape {}\nTrain attention mask shape {} Val attention mask shape {}'.format(train_inp.shape,val_inp.shape,train_label.shape,val_label.shape,train_mask.shape,val_mask.shape))

Train inp shape (708, 384) Val input shape (237, 384)
Train label shape (708,) Val label shape (237,)
Train attention mask shape (708, 384) Val attention mask shape (237, 384)

In [ ]:
# Training and validation
# With early stopping when criterion is met

with strategy.scope():

  Loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
  Metric = tf.keras.metrics.SparseCategoricalAccuracy()
  callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=5)
  Optimizer = tf.keras.optimizers.Adam(learning_rate=0.0000085,epsilon=1e-08)
  bert_tokenizer = BertTokenizer.from_pretrained("bert-base-cased")
  bert_model = TFBertForSequenceClassification.from_pretrained('bert-base-cased', num_labels=14)
  bert_model.compile(loss=Loss, metrics=Metric,optimizer=Optimizer)
  history=bert_model.fit([train_inp,train_mask],train_label,batch_size=32,epochs=50,validation_data=([val_inp,val_mask],val_label),callbacks=[callback])

All model checkpoint layers were used when initializing TFBertForSequenceClassification.

Some layers of TFBertForSequenceClassification were not initialized from the model checkpoint at bert-base-cased and are newly initialized: ['classifier']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Epoch 1/50
23/23 [==============================] - 140s 3s/step - loss: 2.6940 - sparse_categorical_accuracy: 0.0686 - val_loss: 2.6452 - val_sparse_categorical_accuracy: 0.0549
Epoch 2/50
23/23 [==============================] - 4s 154ms/step - loss: 2.5902 - sparse_categorical_accuracy: 0.1073 - val_loss: 2.5455 - val_sparse_categorical_accuracy: 0.1477
Epoch 3/50
23/23 [==============================] - 4s 154ms/step - loss: 2.4815 - sparse_categorical_accuracy: 0.1714 - val_loss: 2.3840 - val_sparse_categorical_accuracy: 0.3333
Epoch 4/50
23/23 [==============================] - 4s 156ms/step - loss: 2.2821 - sparse_categorical_accuracy: 0.4024 - val_loss: 2.1061 - val_sparse_categorical_accuracy: 0.5359
Epoch 5/50
23/23 [==============================] - 4s 155ms/step - loss: 1.9876 - sparse_categorical_accuracy: 0.5847 - val_loss: 1.8320 - val_sparse_categorical_accuracy: 0.5738
Epoch 6/50
23/23 [==============================] - 4s 155ms/step - loss: 1.7310 - sparse_categorical_accuracy: 0.6517 - val_loss: 1.6035 - val_sparse_categorical_accuracy: 0.6203
Epoch 7/50
23/23 [==============================] - 4s 187ms/step - loss: 1.4765 - sparse_categorical_accuracy: 0.7416 - val_loss: 1.3875 - val_sparse_categorical_accuracy: 0.6878
Epoch 8/50
23/23 [==============================] - 4s 155ms/step - loss: 1.2541 - sparse_categorical_accuracy: 0.7963 - val_loss: 1.1993 - val_sparse_categorical_accuracy: 0.7722
Epoch 9/50
23/23 [==============================] - 4s 155ms/step - loss: 1.0682 - sparse_categorical_accuracy: 0.8437 - val_loss: 1.0407 - val_sparse_categorical_accuracy: 0.8059
Epoch 10/50
23/23 [==============================] - 4s 156ms/step - loss: 0.8864 - sparse_categorical_accuracy: 0.9253 - val_loss: 0.8920 - val_sparse_categorical_accuracy: 0.8523
Epoch 11/50
23/23 [==============================] - 4s 155ms/step - loss: 0.7692 - sparse_categorical_accuracy: 0.9252 - val_loss: 0.7753 - val_sparse_categorical_accuracy: 0.8734
Epoch 12/50
23/23 [==============================] - 4s 155ms/step - loss: 0.6339 - sparse_categorical_accuracy: 0.9529 - val_loss: 0.6759 - val_sparse_categorical_accuracy: 0.9030
Epoch 13/50
23/23 [==============================] - 4s 157ms/step - loss: 0.5242 - sparse_categorical_accuracy: 0.9713 - val_loss: 0.6069 - val_sparse_categorical_accuracy: 0.8987
Epoch 14/50
23/23 [==============================] - 4s 157ms/step - loss: 0.4367 - sparse_categorical_accuracy: 0.9690 - val_loss: 0.5245 - val_sparse_categorical_accuracy: 0.9072
Epoch 15/50
23/23 [==============================] - 4s 156ms/step - loss: 0.3533 - sparse_categorical_accuracy: 0.9957 - val_loss: 0.4749 - val_sparse_categorical_accuracy: 0.9198
Epoch 16/50
23/23 [==============================] - 4s 157ms/step - loss: 0.3096 - sparse_categorical_accuracy: 0.9955 - val_loss: 0.4406 - val_sparse_categorical_accuracy: 0.9114
Epoch 17/50
23/23 [==============================] - 4s 156ms/step - loss: 0.2504 - sparse_categorical_accuracy: 0.9977 - val_loss: 0.4081 - val_sparse_categorical_accuracy: 0.9156
Epoch 18/50
23/23 [==============================] - 4s 157ms/step - loss: 0.2124 - sparse_categorical_accuracy: 0.9998 - val_loss: 0.3725 - val_sparse_categorical_accuracy: 0.9283
Epoch 19/50
23/23 [==============================] - 4s 157ms/step - loss: 0.1895 - sparse_categorical_accuracy: 0.9986 - val_loss: 0.3656 - val_sparse_categorical_accuracy: 0.9283
Epoch 20/50
23/23 [==============================] - 4s 158ms/step - loss: 0.1654 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3525 - val_sparse_categorical_accuracy: 0.9156
Epoch 21/50
23/23 [==============================] - 4s 156ms/step - loss: 0.1457 - sparse_categorical_accuracy: 0.9951 - val_loss: 0.3512 - val_sparse_categorical_accuracy: 0.9156
Epoch 22/50
23/23 [==============================] - 4s 156ms/step - loss: 0.1306 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3276 - val_sparse_categorical_accuracy: 0.9241
Epoch 23/50
23/23 [==============================] - 4s 157ms/step - loss: 0.1169 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3149 - val_sparse_categorical_accuracy: 0.9283
Epoch 24/50
23/23 [==============================] - 4s 159ms/step - loss: 0.1046 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3088 - val_sparse_categorical_accuracy: 0.9198
Epoch 25/50
23/23 [==============================] - 4s 157ms/step - loss: 0.0965 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2999 - val_sparse_categorical_accuracy: 0.9198
Epoch 26/50
23/23 [==============================] - 4s 157ms/step - loss: 0.0884 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2916 - val_sparse_categorical_accuracy: 0.9283
Epoch 27/50
23/23 [==============================] - 4s 158ms/step - loss: 0.0833 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3139 - val_sparse_categorical_accuracy: 0.9198
Epoch 28/50
23/23 [==============================] - 4s 157ms/step - loss: 0.0784 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2867 - val_sparse_categorical_accuracy: 0.9283
Epoch 29/50
23/23 [==============================] - 4s 158ms/step - loss: 0.0721 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2897 - val_sparse_categorical_accuracy: 0.9241
Epoch 30/50
23/23 [==============================] - 4s 158ms/step - loss: 0.0652 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2845 - val_sparse_categorical_accuracy: 0.9198
Epoch 31/50
23/23 [==============================] - 4s 159ms/step - loss: 0.0622 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2766 - val_sparse_categorical_accuracy: 0.9241
Epoch 32/50
23/23 [==============================] - 4s 157ms/step - loss: 0.0590 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2723 - val_sparse_categorical_accuracy: 0.9283
Epoch 33/50
23/23 [==============================] - 4s 157ms/step - loss: 0.0557 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2663 - val_sparse_categorical_accuracy: 0.9241
Epoch 34/50
23/23 [==============================] - 4s 157ms/step - loss: 0.0531 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2812 - val_sparse_categorical_accuracy: 0.9325
Epoch 35/50
23/23 [==============================] - 4s 158ms/step - loss: 0.0498 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2789 - val_sparse_categorical_accuracy: 0.9241
Epoch 36/50
23/23 [==============================] - 4s 157ms/step - loss: 0.0475 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2827 - val_sparse_categorical_accuracy: 0.9241
Epoch 37/50
23/23 [==============================] - 4s 157ms/step - loss: 0.0455 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2817 - val_sparse_categorical_accuracy: 0.9241
Epoch 38/50
23/23 [==============================] - 4s 158ms/step - loss: 0.0426 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2745 - val_sparse_categorical_accuracy: 0.9325

In [ ]:
# Split texts (raw data) into train and validation sets so that validation set can be examined.

X_tr, X_ts, Y_tr, Y_ts=train_test_split(data['clean text'],data['Label'],test_size=0.25, random_state=94)

# Make a table for the validation set alone
val_set = pd.DataFrame(X_ts)
val_set['Label'] = Y_ts
y_true = list(Y_ts)

In [ ]:
#Obtain predicted categories from the trained BERT model

pred = bert_model([val_inp,val_mask])

In [ ]:
# Use argmax to get Label of predicted category
# Reverse look-up for category names

def rev_label(pred, X,y_true):

  predicted =[]
  pred_cat = []
  true_cat = []
  for j in range(len(X)):
    index= np.argmax(pred[0][j])
    predicted.append(int(index))
    cat = rvCL[index]
    true = rvCL[y_true[j]]
    pred_cat.append(cat)
    true_cat.append(true)
  return predicted, pred_cat, true_cat

In [ ]:
# predicted for predicted label
# pred_cat for predicted category name
# true_cat for actual category
predicted, pred_cat, true_cat = rev_label(pred, X_ts, y_true)

val_set['predicted'] = predicted
val_set['true_cat'] = true_cat
val_set['pred_cat'] = pred_cat

In [ ]:
print('Incorrectly predicted news pieces in total:',len(val_set[val_set['Label']!=val_set['predicted']]))
val_set[val_set['Label']!=val_set['predicted']]

Incorrectly predicted news pieces in total: 16

                                            clean text  ...     pred_cat
622  1,000-Year-Old Settlement Mapped in Florida. G...  ...    Neolithic
3    New Thoughts on Phoenician Figurines. HAIFA, I...  ...    Near East
151  New Dates Push Back Arrival of Modern Humans i...  ...    Pre-Human
669  Greek Pottery Used to Track Ancient Migration....  ...     Iron Age
173  Artifacts Unearthed at Estate Site in Scotland...  ...     Medieval
501  Study Explores the Origins of Pottery in Asia....  ...    Neolithic
586  Puerto Rico’s Possible Ancient Cooking Techniq...  ...    Neolithic
324  Prehistoric Fishing Artifacts Reexamined in No...  ...  Paleolithic
943  4,000-Year-Old Game Board Identified in Azerba...  ...     Egyptian
675  New Survey Will Identify Nabataean Sites in Sa...  ...     Iron Age
816  UK Customs Officials Recover Babylonian Artifa...  ...     Iron Age
15   Fluted Stone Tools Found in Southern Arabia. C...  ...  Paleolithic
840  2,000-Year-Old Village Spotted in Poland’s Tuc...  ...    Neolithic
937  Fifth-Century Church Discovered Near Black Sea...  ...        Roman
330  Study Suggests Elite Dynasty Buried in Ireland...  ...   Bronze Age
122  New Dates for Modern Human Arrival in Westernm...  ...    Pre-Human

[16 rows x 5 columns]

In [ ]:
#Upload 2 more files for test data sets
# ARCHAIC_test.csv and ARCHAIC_2labels.csv
files.upload()

In [ ]:
# Contains test data set which is somewhat more difficult than any validation set
# Test data set has only 1 label per news story
Easy_test = pd.read_csv('ARCHAIC_test.csv')

In [ ]:
# A place to assure there are no duplicates from the training set in the test sets
DUP = []
arch_testing = list(Easy_test['url'])
for j in range(len(data['url'])):
  if data.at[j,'url'] in arch_testing:
    DUP.append(data.at[j,'url'])
    print(j)
  else:
    pass
  #ORI.append(data.at[j,'url'])
DUP

[]

In [ ]:
# Create a numerical label column for the Easy_test table
Easy_test, Easy_len=col_label(Easy_test)

# encode the texts in Easy_test
test_input_ids, test_attention_masks, test_labels = Encode(Easy_test)

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
/usr/local/lib/python3.7/dist-packages/transformers/tokenization_utils_base.py:2074: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  FutureWarning,

In [ ]:
# Predicting news category on the test set
Easy_test_pred = bert_model([test_input_ids,test_attention_masks])

# Add predicted label and category columns to the Easy_test table
es_predicted, es_pred_cat, es_true_cat = rev_label(Easy_test_pred, Easy_test['clean text'], test_labels)

Easy_test['predicted'] = es_predicted
Easy_test['true_cat'] = es_true_cat
Easy_test['pred_cat'] = es_pred_cat

In [ ]:
print('Wrongly predicted news pieces from test set:',len(Easy_test[Easy_test['Label']!=Easy_test['predicted']]))
Easy_test[Easy_test['Label']!=Easy_test['predicted']][['clean text','category','pred_cat']]

In [ ]:
# Accuracy for the main test set (1 label)

ACCU = sklearn.metrics.accuracy_score(Easy_test['Label'], Easy_test['predicted'], normalize=True, sample_weight=None)
print('Easy_test Accuracy =',round((ACCU*100),2))

Easy_test Accuracy = 86.77

There are news stories which cannot be assigned to a single category as the content shows an overlap of 2 categories or more. Each news piece in the test data set below has been given 2 labels only for simplicity even though some of them are relevant to 3 categories. The news stories below are considered much more difficult to classify than the single-label test data set.

In [ ]:
# A different test data set with 2 classes assgined to each news story
Hard_test = pd.read_csv('ARCHAIC_2labels.csv')

# Assign the primary label first (not necessarily the dominant class)
Hard_test, Hard_over_384 = col_label(Hard_test)

In [ ]:
# Set up the numerical label column for the 2nd category
Hard_test['2nd_Label'] = 0 # want integers only
pair = []

for i in Hard_test.index:
      
  Hard_test.at[i,'2nd_Label'] = CL[Hard_test.at[i,'2nd category']]
  b = Hard_test.at[i,'2nd_Label']
  a = Hard_test.at[i,'Label']
  twin = [a,b]
  pair.append(twin)

# Add a column with a list of two numerical labels for each news piece
Hard_test['twin label'] = pair

In [ ]:
Hard_input_ids,Hard_attention_masks, Hard_labels = Encode(Hard_test)
Hard_test_pred = bert_model([Hard_input_ids,Hard_attention_masks])

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
/usr/local/lib/python3.7/dist-packages/transformers/tokenization_utils_base.py:2074: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  FutureWarning,

In [ ]:
# Collect predicted twin labels using the argsort function. The last two positions in the argsort results give max. and 2nd highest probability values
hd_predicted =[]

for l in range(len(Hard_test)):
  twin_index= (np.argsort(Hard_test_pred[0][l]))[-2 :]
  hd_predicted.append(twin_index)

Hard_test['predicted'] = hd_predicted

In [ ]:
# Rearrange the order of columns in the table for readability
Hard_test = Hard_test[['url','clean text','Overlap','category','2nd category','Label','2nd_Label','twin label','predicted']]

In [ ]:
Hard_test[['clean text','category','2nd category','Label','2nd_Label','twin label','predicted']]

                                            clean text  ... predicted
0    Finds Spanning 4,000 Years Unearthed in Southe...  ...    [9, 0]
1    Genome Study Yields New Date for Arrival of TB...  ...    [6, 9]
2    Early Christian Chalice Unearthed in Northern ...  ...  [11, 12]
3    Multidisciplinary Study Tracks Spread of Rice ...  ...    [7, 2]
4    Possible Ancient Longboat Recovered in Ireland...  ...   [13, 9]
5    Three Well-Preserved Ancient Boats Unearthed i...  ...  [11, 12]
6    Leather Balls Found in Ancient Graves in North...  ...   [13, 1]
7    Volunteers Spot New Sites in Aerial Images of ...  ...  [11, 12]
8    Snake Altar Unearthed in Turkey. ANTALYA, TURK...  ...   [13, 0]
9    Study Examines Food and Gender in Bronze Age C...  ...   [1, 13]
10   Main Gate Discovered at Harran Palace. SANLIUR...  ...   [13, 0]
11   Rock Art Discovered in Remote Cave in Thailand...  ...    [2, 7]
12   Poland’s Prehistoric Diet Analyzed. WARSAW, PO...  ...   [13, 9]
13   Evidence of Ancient Surgery Unearthed in Greec...  ...   [0, 12]
14   Roles of Hunter-Gatherer Women Reevaluated. RE...  ...   [1, 10]
15   Glacial Ice Melt Reveals Hundreds of Artifacts...  ...    [6, 0]
16   Study Suggests New Dates for Spread of Farming...  ...    [9, 1]
17   2,000-Year-Old Date Seeds Sprout in Israel. JE...  ...   [5, 11]
18   Roman and Anglo-Saxon Graves Uncovered in Engl...  ...  [11, 12]
19   Monkey from Southern Asia Identified in Ancien...  ...   [2, 13]
20   Unusually Shaped Stones Unearthed in Prehistor...  ...   [13, 9]
21   Iron Age Amulet from Egypt Unearthed in Oman. ...  ...    [0, 5]
22   DNA Study Tracks Ancestry of Today’s Finns. HE...  ...    [8, 6]
23   20th-Century Artifact Found in 15th-Century Es...  ...    [8, 6]
24   Roman Catacomb Discovered in Egypt. KANAZAWA, ...  ...   [11, 5]
25   Archaeologist Maps Iceland’s Historic Shipwrec...  ...   [13, 6]
26   Remnants of Ancient Wall Identified in Iran. T...  ...   [12, 0]
27   Lidar Technology Spots Archaeological Sites in...  ...    [6, 9]
28   Study Reveals Ancient Fish-Cleaning Techniques...  ...   [11, 5]
29   Migration May Have Contributed to Iron Age Cha...  ...   [13, 0]
30   Chimpanzees Observed Fishing for Freshwater Cr...  ...    [7, 3]
31   Possible Bishop's Tomb Dating to Holy Roman Em...  ...   [6, 12]
32   New Thoughts on France’s Tumulus des Sables. C...  ...   [9, 13]
33   Archaeologists Brew Drinks With Revived Ancien...  ...   [5, 11]
34   Jomon Woman’s Genome Decoded in Japan. TOKYO, ...  ...    [8, 1]
35   Traces of Siberian Genes Detected in Some Nort...  ...   [9, 13]
36   Bronze Age Rock Art Discovered in China. GANSU...  ...   [0, 13]
37   Greco-Roman Era Tomb Found in Upper Egypt. CAI...  ...   [11, 5]
38   Possible Ritual Burials Discovered in Oxfordsh...  ...   [12, 0]
39   Colonial-Era Trash Pit Found in Maryland. ANNA...  ...   [8, 10]
40   Iron Age Settlement Uncovered in Thailand. LOP...  ...   [13, 0]
41   4,000-Year-Old Rock Art Discovered in Inner Mo...  ...   [13, 1]
42   Monument Offers Clues to Size of Cleopatra’s U...  ...  [11, 12]
43   Italy Returns Ancient Artifacts to China. ROME...  ...   [12, 1]
44   New Thoughts on the Origins of Iron Smelting i...  ...   [13, 0]
45   2,500-Year-Old Pottery Fragment May Depict Jok...  ...    [0, 5]
46   DNA Study Investigates Migrations to Canary Is...  ...   [6, 12]
47   Roman Tile Factory Unearthed in Northern Engla...  ...  [11, 12]
48   Pig Bone Analysis Offers Hints to Human Travel...  ...   [13, 9]
49   Scientists Discuss “Bioarchaeology of Care”. B...  ...    [5, 4]
50   Dental Plaque Hints at Diet in Ancient Mongoli...  ...   [13, 0]
51   High-Tech Map Made of Scottish Islands. GLASGO...  ...   [9, 13]
52   Triangle Markings Studied in Chalcolithic Ston...  ...   [13, 9]
53   Scientists Analyze 100,000-Year-Old Child’s Te...  ...    [7, 3]
54   Medieval Copper Production Settlement Found in...  ...   [5, 11]
55   Rare Human Remains Recovered in Central Americ...  ...   [10, 4]
56   Roman-Period Sarcophagi Found in Egypt. DAMIET...  ...   [11, 5]
57   Byzantine Churches Uncovered in Cyprus. AKROTI...  ...   [11, 0]
58   New Dates Revealed for Stone Circle in Scotlan...  ...    [6, 9]
59   U.S. Repatriates Coins to Cyprus. BALTIMORE, M...  ...   [0, 12]
60   New Thoughts on Neanderthal Head Injuries. TÜB...  ...    [7, 3]
61   Genetic Studies Attempt to Track Peopling of t...  ...   [4, 10]
62   Byzantine Fortress Investigated in Bulgaria. S...  ...    [6, 0]
63   17th-Century Palisade Uncovered in Quebec City...  ...    [6, 8]
64   Prehistoric Ax Discovered in Virginia. FAIRFAX...  ...   [10, 7]
65   Megalithic Statues Discovered in Indonesia. JA...  ...    [7, 9]
66   Prehistoric Cremation Urns Unearthed in Englan...  ...    [7, 9]
67   Scientists Analyze Roman “Red Dust”. GLASGOW, ...  ...   [0, 12]
68   Five Shipwrecks Found Near Greece’s Fourni Isl...  ...   [12, 0]
69   17th-Century Spanish Mission Building Studied ...  ...    [7, 8]
70   Sock from Roman Egypt Analyzed. LONDON, ENGLAN...  ...   [0, 12]
71   Archaeologists Examine Graffiti at Aizanoi’s T...  ...   [13, 0]
72   Ancient Cemetery and Neolithic Village Found i...  ...    [0, 9]
73   Archaeologists Look for Evidence of Past Child...  ...   [6, 13]
74   Ancient Gold and Pearls Discovered on Danish I...  ...   [0, 12]
75   Sixth-Century Cemeteries Offer Clues to “Barba...  ...  [11, 12]
76   Neolithic Farming Site Found in Nile Delta. DA...  ...    [9, 5]
77   Hidden Cave Door Found Under Scottish Castle. ...  ...    [0, 6]
78   Remains of a Slovak Manor House Unearthed. BRA...  ...    [8, 6]
79   Mass Grave Unearthed in Sri Lanka. MANNAR, SRI...  ...    [7, 2]
80   Archaeological Sites Discovered On and Around ...  ...   [12, 0]
81   Ancestral Puebloans May Have Bred Scarlet Maca...  ...   [4, 10]
82   Potters’ Break Room Found in Central Israel. G...  ...  [11, 12]
83   1,700-Year-Old Marble Bust Unearthed in Turkey...  ...   [0, 12]
84   Byzantine- and Roman-era Rooms Uncovered in Eg...  ...   [11, 5]
85   Henge Site Spotted in Ireland’s Boyne Valley. ...  ...   [13, 9]
86   Traces of Roman and Medieval Industry Found in...  ...   [6, 12]
87   Mongolia’s Earliest Evidence of Equine Dentist...  ...   [1, 13]
88   Complete Jars Recovered From Cliffside Cave in...  ...  [12, 11]
89   Possible Sacrifice Victims Unearthed at Henge ...  ...   [9, 13]
90   Seventeenth-Century Danish Latrines Analyzed. ...  ...    [8, 6]
91   Seventh-Century Inscription Found at Tintagel ...  ...   [12, 6]
92   Spanish Galleon Wreckage Discovered Off Coast ...  ...    [6, 8]
93   Bronze Age Burial Excavated in England. CORNWA...  ...   [6, 13]
94   Pottery Inscription Provides New Dates for Jav...  ...    [2, 1]
95   Greek Inscriptions Found at Roman-Era Temple i...  ...   [12, 5]
96   Oslo Fjord’s Stone Age Settlements. OSLO, NORW...  ...   [9, 13]
97   New Thoughts on the Spread of the Justinian Pl...  ...    [1, 0]
98   Medieval Egyptian Pottery Found in Bulgaria. P...  ...   [11, 5]
99   Flint Tools Found in Australia Were Made With ...  ...    [7, 8]
100  6,000 Years on a Landscape in East England Rev...  ...   [12, 9]
101  Utrecht Inhabited Far Longer Than Previously T...  ...    [7, 9]
102  Cannons Unearthed at Malaysia’s Fort Cornwalli...  ...    [8, 2]
103  Roman-Era Temple Unearthed in Upper Egypt. ASW...  ...   [12, 5]
104  Study Re-creates 8,000-Year-Old Projectiles. F...  ...   [13, 9]

[105 rows x 7 columns]

In [ ]:
# Dictionary reference
CL

{'Bronze Age': 13,
 'East Asia': 1,
 'Egyptian': 5,
 'Iron Age': 0,
 'Medieval': 6,
 'Modern': 8,
 'Native American': 10,
 'Near East': 11,
 'Neolithic': 9,
 'Paleolithic': 7,
 'Pre-Columbian': 4,
 'Pre-Human': 3,
 'Roman': 12,
 'South&Southeast Asia': 2}

In [ ]:
# Custom scoring - both labels correct - 1, only one label correct - 0.5

score = 0

for j in Hard_test.index:
  if (Hard_test.at[j,'predicted'])[0] in Hard_test.at[j,'twin label']:
    score += 0.5
  else:
    pass
  if (Hard_test.at[j,'predicted'])[1] in Hard_test.at[j,'twin label']:
    score += 0.5
  else:
    pass

print('two-label accuracy =', round(score/(len(Hard_test))*100,2))

two-label accuracy = 72.86