<a href="https://colab.research.google.com/github/jmachima/Archaeology_News/blob/main/Archaeology_News_BERT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Text Classification with content from archaeology.org/news (with permission from the editor-in-chief of Archaeology - A publication of the Archaeological Institute of America)

In [ ]:
import tensorflow as tf
import os

In [ ]:
# TPU will be used for text classification with BERT (Bidirectional Encoder Representations from Transformers).

resolver = tf.distribute.cluster_resolver.TPUClusterResolver(tpu='grpc://' + os.environ['COLAB_TPU_ADDR'])
tf.config.experimental_connect_to_cluster(resolver)
tf.tpu.experimental.initialize_tpu_system(resolver)
print("All devices: ", tf.config.list_logical_devices('TPU'))
strategy = tf.distribute.TPUStrategy(resolver)

In [ ]:
!pip install -q -U tensorflow-text
!pip install -q -U tf-models-official

In [ ]:
pip install transformers

In [ ]:
import tensorflow_hub as hub
import tensorflow_text as text  # A dependency of the preprocessing model
#import tensorflow_addons as tfa
import numpy as np

tf.get_logger().setLevel('ERROR')

In [ ]:
import pandas as pd
pd.options.display.max_rows = 999
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.metrics import accuracy_score
from transformers import *
from transformers import BertTokenizer, TFBertModel, BertConfig

In [ ]:
#bert-base-cased
bert_tokenizer = BertTokenizer.from_pretrained('bert-base-cased', output_attention=True)
# 14 text categories for text classification
bert_model = TFBertForSequenceClassification.from_pretrained('bert-base-cased',output_attentions=True, num_labels=14)

In [ ]:
from google.colab import files

# upload ARCHAIC_TrainAndValidate.csv for training and validation
files.upload()

In [ ]:
data = pd.read_csv('ARCHAIC_TrainAndValidate.csv')

Class = set(data['category'])  # List of unique categories

CL = dict(zip(Class,list(range(14)))) # convert categories into numericals

rvCL = dict(zip(list(range(14)),Class)) # reverse lookup for numerical label using another dictionary

print(CL)

{'Modern': 0, 'Roman': 1, 'South&Southeast Asia': 2, 'Pre-Human': 3, 'Paleolithic': 4, 'Near East': 5, 'Neolithic': 6, 'Iron Age': 7, 'Egyptian': 8, 'Bronze Age': 9, 'Native American': 10, 'East Asia': 11, 'Pre-Columbian': 12, 'Medieval': 13}

In [ ]:
# Function for assigning numerical category to news text
#Also check if a news piece has a sequence length longer than 384
def col_label(Table): 
 
  Table['Label'] = 0 # want integers only
  long=[]

  for i in Table.index:
      
      Table.at[i,'Label'] = CL[Table.at[i,'category']]
      tokens=bert_tokenizer.tokenize(Table.at[i,'clean text'])
      if len(tokens) > 384:
        print('i=',i, len(tokens))
        long.append([i,len(tokens)])
      else:
        pass
  return Table, long

In [ ]:
# Add a 'Label' column to the data table
data, over_384 = col_label(data)

In [ ]:
# Assign input IDs and attention masks

def Encode(table):

  sentences=table['clean text']
  labels=table['Label']

  input_ids=[]
  attention_masks=[]

  for sent in sentences:
      bert_inp=bert_tokenizer.encode_plus(sent,add_special_tokens = True,max_length =384,pad_to_max_length = True,return_attention_mask = True)
      input_ids.append(bert_inp['input_ids'])
      attention_masks.append(bert_inp['attention_mask'])

  input_ids=np.asarray(input_ids)
  attention_masks=np.array(attention_masks)
  labels=np.array(labels)
  return input_ids, attention_masks, labels

In [ ]:
# IDs and masks for news texts

input_ids, attention_masks, labels = Encode(data)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# Split input IDs, labels, and masks for training and validation sets

train_inp,val_inp,train_label,val_label,train_mask,val_mask=train_test_split(input_ids,labels,attention_masks,test_size=0.25, random_state=73)
print('Train inp shape {} Val input shape {}\nTrain label shape {} Val label shape {}\nTrain attention mask shape {} Val attention mask shape {}'.format(train_inp.shape,val_inp.shape,train_label.shape,val_label.shape,train_mask.shape,val_mask.shape))

Train inp shape (708, 384) Val input shape (237, 384)
Train label shape (708,) Val label shape (237,)
Train attention mask shape (708, 384) Val attention mask shape (237, 384)

In [ ]:
# Training and validation
# With early stopping when criterion is met

with strategy.scope():

  Loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
  Metric = tf.keras.metrics.SparseCategoricalAccuracy()
  callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=4)
  Optimizer = tf.keras.optimizers.Adam(learning_rate=0.000009,epsilon=1e-08)
  bert_tokenizer = BertTokenizer.from_pretrained("bert-base-cased")
  bert_model = TFBertForSequenceClassification.from_pretrained('bert-base-cased', num_labels=14)
  bert_model.compile(loss=Loss, metrics=Metric,optimizer=Optimizer)
  history=bert_model.fit([train_inp,train_mask],train_label,batch_size=32,epochs=50,validation_data=([val_inp,val_mask],val_label),callbacks=[callback])

All model checkpoint layers were used when initializing TFBertForSequenceClassification.

Some layers of TFBertForSequenceClassification were not initialized from the model checkpoint at bert-base-cased and are newly initialized: ['classifier']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Epoch 1/50
23/23 [==============================] - 133s 3s/step - loss: 2.6693 - sparse_categorical_accuracy: 0.0621 - val_loss: 2.6291 - val_sparse_categorical_accuracy: 0.0675
Epoch 2/50
23/23 [==============================] - 3s 153ms/step - loss: 2.6092 - sparse_categorical_accuracy: 0.1041 - val_loss: 2.5197 - val_sparse_categorical_accuracy: 0.2489
Epoch 3/50
23/23 [==============================] - 3s 153ms/step - loss: 2.4860 - sparse_categorical_accuracy: 0.2262 - val_loss: 2.3455 - val_sparse_categorical_accuracy: 0.2996
Epoch 4/50
23/23 [==============================] - 3s 153ms/step - loss: 2.2955 - sparse_categorical_accuracy: 0.3630 - val_loss: 2.0849 - val_sparse_categorical_accuracy: 0.5063
Epoch 5/50
23/23 [==============================] - 3s 152ms/step - loss: 2.0315 - sparse_categorical_accuracy: 0.5261 - val_loss: 1.7799 - val_sparse_categorical_accuracy: 0.7173
Epoch 6/50
23/23 [==============================] - 3s 154ms/step - loss: 1.7449 - sparse_categorical_accuracy: 0.7122 - val_loss: 1.5277 - val_sparse_categorical_accuracy: 0.7848
Epoch 7/50
23/23 [==============================] - 4s 157ms/step - loss: 1.4567 - sparse_categorical_accuracy: 0.7977 - val_loss: 1.2983 - val_sparse_categorical_accuracy: 0.8354
Epoch 8/50
23/23 [==============================] - 4s 155ms/step - loss: 1.2661 - sparse_categorical_accuracy: 0.8630 - val_loss: 1.1076 - val_sparse_categorical_accuracy: 0.8692
Epoch 9/50
23/23 [==============================] - 3s 153ms/step - loss: 1.0384 - sparse_categorical_accuracy: 0.9113 - val_loss: 0.9545 - val_sparse_categorical_accuracy: 0.8692
Epoch 10/50
23/23 [==============================] - 3s 152ms/step - loss: 0.8964 - sparse_categorical_accuracy: 0.9221 - val_loss: 0.8092 - val_sparse_categorical_accuracy: 0.8819
Epoch 11/50
23/23 [==============================] - 3s 153ms/step - loss: 0.7360 - sparse_categorical_accuracy: 0.9509 - val_loss: 0.7053 - val_sparse_categorical_accuracy: 0.9156
Epoch 12/50
23/23 [==============================] - 4s 154ms/step - loss: 0.6509 - sparse_categorical_accuracy: 0.9702 - val_loss: 0.6057 - val_sparse_categorical_accuracy: 0.9198
Epoch 13/50
23/23 [==============================] - 4s 157ms/step - loss: 0.5304 - sparse_categorical_accuracy: 0.9793 - val_loss: 0.5370 - val_sparse_categorical_accuracy: 0.9156
Epoch 14/50
23/23 [==============================] - 3s 154ms/step - loss: 0.4640 - sparse_categorical_accuracy: 0.9812 - val_loss: 0.4781 - val_sparse_categorical_accuracy: 0.9156
Epoch 15/50
23/23 [==============================] - 3s 153ms/step - loss: 0.3893 - sparse_categorical_accuracy: 0.9792 - val_loss: 0.4249 - val_sparse_categorical_accuracy: 0.9241
Epoch 16/50
23/23 [==============================] - 3s 152ms/step - loss: 0.3250 - sparse_categorical_accuracy: 0.9982 - val_loss: 0.4015 - val_sparse_categorical_accuracy: 0.9198
Epoch 17/50
23/23 [==============================] - 4s 177ms/step - loss: 0.2761 - sparse_categorical_accuracy: 0.9953 - val_loss: 0.3815 - val_sparse_categorical_accuracy: 0.9241
Epoch 18/50
23/23 [==============================] - 4s 157ms/step - loss: 0.2481 - sparse_categorical_accuracy: 0.9990 - val_loss: 0.3354 - val_sparse_categorical_accuracy: 0.9241
Epoch 19/50
23/23 [==============================] - 4s 156ms/step - loss: 0.2147 - sparse_categorical_accuracy: 0.9944 - val_loss: 0.3100 - val_sparse_categorical_accuracy: 0.9283
Epoch 20/50
23/23 [==============================] - 4s 155ms/step - loss: 0.1848 - sparse_categorical_accuracy: 0.9988 - val_loss: 0.3004 - val_sparse_categorical_accuracy: 0.9283
Epoch 21/50
23/23 [==============================] - 4s 154ms/step - loss: 0.1692 - sparse_categorical_accuracy: 0.9990 - val_loss: 0.3017 - val_sparse_categorical_accuracy: 0.9241
Epoch 22/50
23/23 [==============================] - 4s 155ms/step - loss: 0.1464 - sparse_categorical_accuracy: 0.9975 - val_loss: 0.2744 - val_sparse_categorical_accuracy: 0.9198
Epoch 23/50
23/23 [==============================] - 4s 155ms/step - loss: 0.1290 - sparse_categorical_accuracy: 0.9978 - val_loss: 0.2719 - val_sparse_categorical_accuracy: 0.9241
Epoch 24/50
23/23 [==============================] - 4s 154ms/step - loss: 0.1196 - sparse_categorical_accuracy: 0.9986 - val_loss: 0.2711 - val_sparse_categorical_accuracy: 0.9241
Epoch 25/50
23/23 [==============================] - 4s 154ms/step - loss: 0.1090 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2669 - val_sparse_categorical_accuracy: 0.9198
Epoch 26/50
23/23 [==============================] - 4s 155ms/step - loss: 0.1012 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2711 - val_sparse_categorical_accuracy: 0.9156
Epoch 27/50
23/23 [==============================] - 4s 156ms/step - loss: 0.0883 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2539 - val_sparse_categorical_accuracy: 0.9241
Epoch 28/50
23/23 [==============================] - 3s 154ms/step - loss: 0.0854 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2631 - val_sparse_categorical_accuracy: 0.9156
Epoch 29/50
23/23 [==============================] - 4s 155ms/step - loss: 0.0784 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2438 - val_sparse_categorical_accuracy: 0.9241
Epoch 30/50
23/23 [==============================] - 4s 156ms/step - loss: 0.0745 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2388 - val_sparse_categorical_accuracy: 0.9283
Epoch 31/50
23/23 [==============================] - 4s 156ms/step - loss: 0.0674 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2303 - val_sparse_categorical_accuracy: 0.9325
Epoch 32/50
23/23 [==============================] - 4s 155ms/step - loss: 0.0631 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2428 - val_sparse_categorical_accuracy: 0.9198
Epoch 33/50
23/23 [==============================] - 4s 156ms/step - loss: 0.0589 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2375 - val_sparse_categorical_accuracy: 0.9198
Epoch 34/50
23/23 [==============================] - 4s 156ms/step - loss: 0.0572 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2255 - val_sparse_categorical_accuracy: 0.9283
Epoch 35/50
23/23 [==============================] - 4s 155ms/step - loss: 0.0534 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2358 - val_sparse_categorical_accuracy: 0.9241
Epoch 36/50
23/23 [==============================] - 4s 156ms/step - loss: 0.0499 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2328 - val_sparse_categorical_accuracy: 0.9241
Epoch 37/50
23/23 [==============================] - 4s 156ms/step - loss: 0.0476 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2247 - val_sparse_categorical_accuracy: 0.9283
Epoch 38/50
23/23 [==============================] - 4s 154ms/step - loss: 0.0456 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2354 - val_sparse_categorical_accuracy: 0.9241
Epoch 39/50
23/23 [==============================] - 4s 155ms/step - loss: 0.0432 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2303 - val_sparse_categorical_accuracy: 0.9283
Epoch 40/50
23/23 [==============================] - 4s 155ms/step - loss: 0.0410 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2319 - val_sparse_categorical_accuracy: 0.9198
Epoch 41/50
23/23 [==============================] - 4s 156ms/step - loss: 0.0388 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2222 - val_sparse_categorical_accuracy: 0.9283
Epoch 42/50
23/23 [==============================] - 4s 155ms/step - loss: 0.0367 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2323 - val_sparse_categorical_accuracy: 0.9241
Epoch 43/50
23/23 [==============================] - 4s 155ms/step - loss: 0.0356 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2337 - val_sparse_categorical_accuracy: 0.9241
Epoch 44/50
23/23 [==============================] - 4s 155ms/step - loss: 0.0344 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2303 - val_sparse_categorical_accuracy: 0.9325
Epoch 45/50
23/23 [==============================] - 4s 156ms/step - loss: 0.0328 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2286 - val_sparse_categorical_accuracy: 0.9325

In [ ]:
# Split texts (raw data) into train and validation sets so that validation set can be examined.

X_tr, X_ts, Y_tr, Y_ts=train_test_split(data['clean text'],data['Label'],test_size=0.25, random_state=73)

# Make a table for the validation set alone
val_set = pd.DataFrame(X_ts)
val_set['Label'] = Y_ts
y_true = list(Y_ts)

In [ ]:
#Obtain predicted categories from the trained BERT model

pred = bert_model([val_inp,val_mask])

In [ ]:
# Use argmax to get Label of predicted category
# Reverse look-up for category names

def rev_label(pred, X,y_true):

  predicted =[]
  pred_cat = []
  true_cat = []
  for j in range(len(X)):
    index= np.argmax(pred[0][j])
    predicted.append(int(index))
    cat = rvCL[index]
    true = rvCL[y_true[j]]
    pred_cat.append(cat)
    true_cat.append(true)
  return predicted, pred_cat, true_cat

In [ ]:
# predicted for predicted label
# pred_cat for predicted category name
# true_cat for actual category
predicted, pred_cat, true_cat = rev_label(pred, X_ts, y_true)

val_set['predicted'] = predicted
val_set['true_cat'] = true_cat
val_set['pred_cat'] = pred_cat

In [ ]:
print('Incorrectly predicted news pieces in total:',len(val_set[val_set['Label']!=val_set['predicted']]))
val_set[val_set['Label']!=val_set['predicted']]

Incorrectly predicted news pieces in total: 16

                                            clean text  ...              pred_cat
473  New Thoughts on Indonesia’s Prehistoric Volcan...  ...             Pre-Human
349  New Thoughts on Turkey’s Oldest Temple Complex...  ...            Bronze Age
501  Study Explores the Origins of Pottery in Asia....  ...             Neolithic
403  High-Altitude Roundhouse Dated in Scotland. GL...  ...             Neolithic
269  A Persian Military Outpost Identified in Israe...  ...              Egyptian
258  DNA Study Tackles Caribbean Migration History....  ...             Neolithic
465  Rare 5,000-Year-Old Sword Identified in Venice...  ...              Medieval
456  Stone Tools Recovered from Cave in West India....  ...  South&Southeast Asia
173  Artifacts Unearthed at Estate Site in Scotland...  ...              Medieval
223  Crusader-Era Battlefield Identified. TEL AVIV,...  ...              Medieval
304  Second Viking Ship Burial Detected on Norway’s...  ...              Iron Age
854  Colonization of the Americas May Have Cooled G...  ...         Pre-Columbian
878  New Thoughts on the Death of the "Prince of He...  ...              Iron Age
586  Puerto Rico’s Possible Ancient Cooking Techniq...  ...            Bronze Age
289  Fingerprints Studied at Rock Art Site in Spain...  ...           Paleolithic
23   Historic Cemetery Unearthed in Estonia. SILLAM...  ...                Modern

[16 rows x 5 columns]

In [ ]:
#Upload 2 more files for test data sets
# ARCHAIC_test.csv and ARCHAIC_2labels.csv
files.upload()

In [ ]:
# Contains test data set which is somewhat more difficult than any validation set
# Test data set has only 1 label per news story
Easy_test = pd.read_csv('ARCHAIC_test.csv')

In [ ]:
# A place to assure there are no duplicates from the training set in the test sets
DUP = []
arch_testing = list(Easy_test['url'])
for j in range(len(data['url'])):
  if data.at[j,'url'] in arch_testing:
    DUP.append(data.at[j,'url'])
    print(j)
  else:
    pass

#If there is anything in DUP, it has to be removed from the test data set.
DUP

[]

In [ ]:
# Create a numerical label column for the Easy_test table
Easy_test, Easy_len=col_label(Easy_test)

# encode the texts in Easy_test
test_input_ids, test_attention_masks, test_labels = Encode(Easy_test)

In [ ]:
# Predicting news category on the test set
Easy_test_pred = bert_model([test_input_ids,test_attention_masks])

# Add predicted label and category columns to the Easy_test table
es_predicted, es_pred_cat, es_true_cat = rev_label(Easy_test_pred, Easy_test['clean text'], test_labels)

Easy_test['predicted'] = es_predicted
Easy_test['true_cat'] = es_true_cat
Easy_test['pred_cat'] = es_pred_cat

In [ ]:
print('Wrongly predicted news pieces from test set:',len(Easy_test[Easy_test['Label']!=Easy_test['predicted']]))
Easy_test[Easy_test['Label']!=Easy_test['predicted']][['clean text','category','pred_cat']]

In [ ]:
# Accuracy for the main test set (1 label)

ACCU = sklearn.metrics.accuracy_score(Easy_test['Label'], Easy_test['predicted'], normalize=True, sample_weight=None)
print('Easy_test Accuracy =',round((ACCU*100),2))

Easy_test Accuracy = 86.56

There are news stories which cannot be assigned to a single category as the content shows an overlap of 2 categories or more. Each news piece in the test data set below has been given 2 labels only for simplicity even though some of them are relevant to 3 categories. The news stories below are considered much more difficult to classify than the single-label test data set.

In [ ]:
# A different test data set with 2 classes assgined to each news story
Hard_test = pd.read_csv('ARCHAIC_2labels.csv')

# Assign the primary label first (not necessarily the dominant class)
Hard_test, Hard_over_384 = col_label(Hard_test)

In [ ]:
# Set up the numerical label column for the 2nd category
Hard_test['2nd_Label'] = 0 # want integers only
pair = []

for i in Hard_test.index:
      
  Hard_test.at[i,'2nd_Label'] = CL[Hard_test.at[i,'2nd category']]
  b = Hard_test.at[i,'2nd_Label']
  a = Hard_test.at[i,'Label']
  twin = [a,b]
  pair.append(twin)

# Add a column with a list of two numerical labels for each news piece
Hard_test['twin label'] = pair

In [ ]:
Hard_input_ids,Hard_attention_masks, Hard_labels = Encode(Hard_test)
Hard_test_pred = bert_model([Hard_input_ids,Hard_attention_masks])

In [ ]:
# Collect predicted twin labels using the argsort function. The last two positions in the argsort results give max. and 2nd highest probability values
hd_predicted =[]

for l in range(len(Hard_test)):
  twin_index= (np.argsort(Hard_test_pred[0][l]))[-2 :]
  hd_predicted.append(twin_index)

Hard_test['predicted'] = hd_predicted

In [ ]:
# Rearrange the order of columns in the table for readability
Hard_test = Hard_test[['url','clean text','category','2nd category','Label','2nd_Label','twin label','predicted']]

In [ ]:
Hard_test[['clean text','category','2nd category','Label','2nd_Label','twin label','predicted']]

                                            clean text  ... predicted
0    Finds Spanning 4,000 Years Unearthed in Southe...  ...    [9, 7]
1    Genome Study Yields New Date for Arrival of TB...  ...   [13, 6]
2    Early Christian Chalice Unearthed in Northern ...  ...   [13, 1]
3    Multidisciplinary Study Tracks Spread of Rice ...  ...   [11, 2]
4    Possible Ancient Longboat Recovered in Ireland...  ...    [9, 6]
5    Three Well-Preserved Ancient Boats Unearthed i...  ...    [7, 1]
6    Leather Balls Found in Ancient Graves in North...  ...   [7, 11]
7    Volunteers Spot New Sites in Aerial Images of ...  ...   [13, 1]
8    Snake Altar Unearthed in Turkey. ANTALYA, TURK...  ...    [7, 2]
9    Study Examines Food and Gender in Bronze Age C...  ...    [8, 9]
10   Main Gate Discovered at Harran Palace. SANLIUR...  ...    [7, 5]
11   Rock Art Discovered in Remote Cave in Thailand...  ...    [2, 4]
12   Poland’s Prehistoric Diet Analyzed. WARSAW, PO...  ...    [6, 9]
13   Evidence of Ancient Surgery Unearthed in Greec...  ...    [7, 1]
14   Roles of Hunter-Gatherer Women Reevaluated. RE...  ...  [11, 10]
15   Glacial Ice Melt Reveals Hundreds of Artifacts...  ...   [13, 7]
16   Study Suggests New Dates for Spread of Farming...  ...   [7, 11]
17   2,000-Year-Old Date Seeds Sprout in Israel. JE...  ...    [8, 5]
18   Roman and Anglo-Saxon Graves Uncovered in Engl...  ...   [13, 1]
19   Monkey from Southern Asia Identified in Ancien...  ...    [8, 9]
20   Unusually Shaped Stones Unearthed in Prehistor...  ...    [9, 6]
21   Iron Age Amulet from Egypt Unearthed in Oman. ...  ...    [7, 8]
22   DNA Study Tracks Ancestry of Today’s Finns. HE...  ...    [6, 9]
23   20th-Century Artifact Found in 15th-Century Es...  ...   [0, 13]
24   Roman Catacomb Discovered in Egypt. KANAZAWA, ...  ...    [5, 8]
25   Archaeologist Maps Iceland’s Historic Shipwrec...  ...   [0, 13]
26   Remnants of Ancient Wall Identified in Iran. T...  ...    [1, 7]
27   Lidar Technology Spots Archaeological Sites in...  ...   [13, 6]
28   Study Reveals Ancient Fish-Cleaning Techniques...  ...    [5, 8]
29   Migration May Have Contributed to Iron Age Cha...  ...    [9, 7]
30   Chimpanzees Observed Fishing for Freshwater Cr...  ...    [4, 3]
31   Possible Bishop's Tomb Dating to Holy Roman Em...  ...   [13, 1]
32   New Thoughts on France’s Tumulus des Sables. C...  ...    [7, 9]
33   Archaeologists Brew Drinks With Revived Ancien...  ...    [8, 5]
34   Jomon Woman’s Genome Decoded in Japan. TOKYO, ...  ...   [6, 11]
35   Traces of Siberian Genes Detected in Some Nort...  ...    [7, 9]
36   Bronze Age Rock Art Discovered in China. GANSU...  ...    [7, 9]
37   Greco-Roman Era Tomb Found in Upper Egypt. CAI...  ...    [9, 8]
38   Possible Ritual Burials Discovered in Oxfordsh...  ...    [9, 7]
39   Colonial-Era Trash Pit Found in Maryland. ANNA...  ...    [0, 9]
40   Iron Age Settlement Uncovered in Thailand. LOP...  ...   [11, 7]
41   4,000-Year-Old Rock Art Discovered in Inner Mo...  ...   [6, 11]
42   Monument Offers Clues to Size of Cleopatra’s U...  ...    [3, 1]
43   Italy Returns Ancient Artifacts to China. ROME...  ...   [1, 11]
44   New Thoughts on the Origins of Iron Smelting i...  ...   [11, 7]
45   2,500-Year-Old Pottery Fragment May Depict Jok...  ...    [7, 8]
46   DNA Study Investigates Migrations to Canary Is...  ...   [13, 1]
47   Roman Tile Factory Unearthed in Northern Engla...  ...    [7, 1]
48   Pig Bone Analysis Offers Hints to Human Travel...  ...    [9, 6]
49   Scientists Discuss “Bioarchaeology of Care”. B...  ...   [12, 8]
50   Dental Plaque Hints at Diet in Ancient Mongoli...  ...   [7, 11]
51   High-Tech Map Made of Scottish Islands. GLASGO...  ...    [6, 9]
52   Triangle Markings Studied in Chalcolithic Ston...  ...    [9, 6]
53   Scientists Analyze 100,000-Year-Old Child’s Te...  ...    [4, 3]
54   Medieval Copper Production Settlement Found in...  ...    [7, 5]
55   Rare Human Remains Recovered in Central Americ...  ...   [4, 12]
56   Roman-Period Sarcophagi Found in Egypt. DAMIET...  ...    [5, 8]
57   Byzantine Churches Uncovered in Cyprus. AKROTI...  ...    [7, 5]
58   New Dates Revealed for Stone Circle in Scotlan...  ...    [9, 6]
59   U.S. Repatriates Coins to Cyprus. BALTIMORE, M...  ...    [7, 1]
60   New Thoughts on Neanderthal Head Injuries. TÜB...  ...    [4, 3]
61   Genetic Studies Attempt to Track Peopling of t...  ...  [12, 10]
62   Byzantine Fortress Investigated in Bulgaria. S...  ...    [5, 7]
63   17th-Century Palisade Uncovered in Quebec City...  ...   [0, 13]
64   Prehistoric Ax Discovered in Virginia. FAIRFAX...  ...   [10, 4]
65   Megalithic Statues Discovered in Indonesia. JA...  ...    [6, 4]
66   Prehistoric Cremation Urns Unearthed in Englan...  ...    [9, 6]
67   Scientists Analyze Roman “Red Dust”. GLASGOW, ...  ...    [7, 1]
68   Five Shipwrecks Found Near Greece’s Fourni Isl...  ...    [1, 7]
69   17th-Century Spanish Mission Building Studied ...  ...   [12, 0]
70   Sock from Roman Egypt Analyzed. LONDON, ENGLAN...  ...    [3, 1]
71   Archaeologists Examine Graffiti at Aizanoi’s T...  ...    [5, 7]
72   Ancient Cemetery and Neolithic Village Found i...  ...    [9, 6]
73   Archaeologists Look for Evidence of Past Child...  ...   [13, 9]
74   Ancient Gold and Pearls Discovered on Danish I...  ...    [7, 1]
75   Sixth-Century Cemeteries Offer Clues to “Barba...  ...   [13, 1]
76   Neolithic Farming Site Found in Nile Delta. DA...  ...    [9, 6]
77   Hidden Cave Door Found Under Scottish Castle. ...  ...   [7, 13]
78   Remains of a Slovak Manor House Unearthed. BRA...  ...   [13, 0]
79   Mass Grave Unearthed in Sri Lanka. MANNAR, SRI...  ...    [0, 2]
80   Archaeological Sites Discovered On and Around ...  ...    [1, 7]
81   Ancestral Puebloans May Have Bred Scarlet Maca...  ...  [12, 10]
82   Potters’ Break Room Found in Central Israel. G...  ...    [0, 1]
83   1,700-Year-Old Marble Bust Unearthed in Turkey...  ...    [7, 1]
84   Byzantine- and Roman-era Rooms Uncovered in Eg...  ...    [1, 8]
85   Henge Site Spotted in Ireland’s Boyne Valley. ...  ...    [6, 9]
86   Traces of Roman and Medieval Industry Found in...  ...   [13, 1]
87   Mongolia’s Earliest Evidence of Equine Dentist...  ...   [11, 9]
88   Complete Jars Recovered From Cliffside Cave in...  ...    [5, 1]
89   Possible Sacrifice Victims Unearthed at Henge ...  ...    [7, 9]
90   Seventeenth-Century Danish Latrines Analyzed. ...  ...   [0, 13]
91   Seventh-Century Inscription Found at Tintagel ...  ...   [1, 13]
92   Spanish Galleon Wreckage Discovered Off Coast ...  ...   [13, 0]
93   Bronze Age Burial Excavated in England. CORNWA...  ...    [7, 9]
94   Pottery Inscription Provides New Dates for Jav...  ...   [2, 11]
95   Greek Inscriptions Found at Roman-Era Temple i...  ...    [1, 8]
96   Oslo Fjord’s Stone Age Settlements. OSLO, NORW...  ...    [7, 9]
97   New Thoughts on the Spread of the Justinian Pl...  ...    [5, 7]
98   Medieval Egyptian Pottery Found in Bulgaria. P...  ...    [5, 8]
99   Flint Tools Found in Australia Were Made With ...  ...    [4, 0]
100  6,000 Years on a Landscape in East England Rev...  ...   [6, 13]
101  Utrecht Inhabited Far Longer Than Previously T...  ...    [4, 6]
102  Cannons Unearthed at Malaysia’s Fort Cornwalli...  ...    [0, 2]
103  Roman-Era Temple Unearthed in Upper Egypt. ASW...  ...    [5, 8]
104  Study Re-creates 8,000-Year-Old Projectiles. F...  ...    [9, 4]
105  Early Agricultural Hotspot Found in Amazonia. ...  ...   [8, 12]
106  Roadwork Reveals Traces of Southwest Ireland’s...  ...    [6, 9]

[107 rows x 7 columns]

In [ ]:
# Dictionary reference
CL

{'Bronze Age': 9,
 'East Asia': 11,
 'Egyptian': 8,
 'Iron Age': 7,
 'Medieval': 13,
 'Modern': 0,
 'Native American': 10,
 'Near East': 5,
 'Neolithic': 6,
 'Paleolithic': 4,
 'Pre-Columbian': 12,
 'Pre-Human': 3,
 'Roman': 1,
 'South&Southeast Asia': 2}

In [ ]:
# Custom scoring - both labels correct - 1, only one label correct - 0.5

score = 0

for j in Hard_test.index:
  if (Hard_test.at[j,'predicted'])[0] in Hard_test.at[j,'twin label']:
    score += 0.5
  else:
    pass
  if (Hard_test.at[j,'predicted'])[1] in Hard_test.at[j,'twin label']:
    score += 0.5
  else:
    pass

print('two-label accuracy =', round(score/(len(Hard_test))*100,2))

two-label accuracy = 71.5