<a href="https://colab.research.google.com/github/jmachima/Archaeology_News/blob/main/Archaeology_News_BERT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Jasmine Machima 
jasmine.machima@gmail.com

Text Classification with content from archaeology.org/news (with permission from the editor-in-chief of Archaeology - A publication of the Archaeological Institute of America)

In [ ]:
!pip install -q -U tensorflow-text
!pip install -q tf-models-official

In [2]:
import os
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text  # A dependency of the preprocessing model
import numpy as np
from sklearn.model_selection import train_test_split
tf.get_logger().setLevel('ERROR')

In [3]:
# TPU will be used for text classification with BERT (Bidirectional Encoder Representations from Transformers).

resolver = tf.distribute.cluster_resolver.TPUClusterResolver(tpu='grpc://' + os.environ['COLAB_TPU_ADDR'])
tf.config.experimental_connect_to_cluster(resolver)
tf.tpu.experimental.initialize_tpu_system(resolver)
print("All devices: ", tf.config.list_logical_devices('TPU'))
strategy = tf.distribute.TPUStrategy(resolver)

All devices:  [LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:0', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:1', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:2', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:3', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:4', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:5', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:6', device_type='TPU'), LogicalDevice(name='/job:worker/replica:0/task:0/device:TPU:7', device_type='TPU')]

In [ ]:
!pip install transformers

In [5]:
import pandas as pd
pd.options.display.max_rows = 999
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from transformers import *
from transformers import BertTokenizer, TFBertModel, BertConfig

In [ ]:
#bert-base-cased
bert_tokenizer = BertTokenizer.from_pretrained('bert-base-cased', output_attention=True)
# 14 text categories for text classification

In [ ]:
from google.colab import files

# upload ARCHAIC_TrainAndValidate.csv for training and validation

#Upload 2 more files for test data sets
# ARCHAIC_test.csv and ARCHAIC_2labels.csv
files.upload()

In [8]:
data = pd.read_csv('ARCHAIC_TrainAndValidate.csv')

Class = set(data['category'])  # List of unique categories

CL = dict(zip(Class,list(range(14)))) # convert categories into numericals

rvCL = dict(zip(list(range(14)),Class)) # reverse lookup for numerical label using another dictionary

print(CL)

{'Pre-Columbian': 0, 'Native American': 1, 'Iron Age': 2, 'Egyptian': 3, 'Pre-Human': 4, 'Near East': 5, 'South&Southeast Asia': 6, 'Bronze Age': 7, 'Paleolithic': 8, 'Roman': 9, 'Modern': 10, 'Neolithic': 11, 'East Asia': 12, 'Medieval': 13}

In [9]:
# Function for assigning numerical category to news text
#Also check if a news piece has a sequence length longer than 384
def col_label(Table): 
 
  Table['Label'] = 0 # want integers only
  long=[]

  for i in Table.index:
      
      Table.at[i,'Label'] = CL[Table.at[i,'category']]
      tokens=bert_tokenizer.tokenize(Table.at[i,'clean text'])
      if len(tokens) > 384:
        print('i=',i, len(tokens))
        long.append([i,len(tokens)])
      else:
        pass
  return Table, long

# Assign input IDs and attention masks

def Encode(table):

  sentences=table['clean text']
  labels=table['Label']

  input_ids=[]
  attention_masks=[]

  for sent in sentences:
      bert_inp=bert_tokenizer.encode_plus(sent,add_special_tokens = True,max_length =384,pad_to_max_length = True,return_attention_mask = True)
      input_ids.append(bert_inp['input_ids'])
      attention_masks.append(bert_inp['attention_mask'])

  input_ids=np.asarray(input_ids)
  attention_masks=np.array(attention_masks)
  labels=np.array(labels)
  return input_ids, attention_masks, labels


# Use argmax to get Label of predicted category (for later use)
# Reverse look-up for category names

def rev_label(pred, X,y_true):

  predicted =[]
  pred_cat = []
  true_cat = []
  for j in range(len(X)):
    index= np.argmax(pred[0][j])
    predicted.append(int(index))
    cat = rvCL[index]
    true = rvCL[y_true[j]]
    pred_cat.append(cat)
    true_cat.append(true)
  return predicted, pred_cat, true_cat

In [10]:
# Add a 'Label' column to the data table
data, over_384 = col_label(data)

i= 819 401

In [11]:
# IDs and masks for news texts

input_ids, attention_masks, labels = Encode(data)

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
/usr/local/lib/python3.7/dist-packages/transformers/tokenization_utils_base.py:2190: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  FutureWarning,

In [12]:
# Split input IDs, labels, and masks for training and validation sets

train_inp,val_inp,train_label,val_label,train_mask,val_mask=train_test_split(input_ids,labels,attention_masks,test_size=0.25, random_state=337)
print('Train inp shape {} Val input shape {}\nTrain label shape {} Val label shape {}\nTrain attention mask shape {} Val attention mask shape {}'.format(train_inp.shape,val_inp.shape,train_label.shape,val_label.shape,train_mask.shape,val_mask.shape))

Train inp shape (710, 384) Val input shape (237, 384)
Train label shape (710,) Val label shape (237,)
Train attention mask shape (710, 384) Val attention mask shape (237, 384)

In [55]:
# Training and validation
# With early stopping when criterion is met

with strategy.scope():

  Loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
  Metric = tf.keras.metrics.SparseCategoricalAccuracy()
  callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=5)
  Optimizer = tf.keras.optimizers.Adam(learning_rate=0.00000937,epsilon=4e-10)
  bert_tokenizer = BertTokenizer.from_pretrained("bert-base-cased")
  bert_model = TFBertForSequenceClassification.from_pretrained('bert-base-cased', num_labels=14)
  bert_model.compile(loss=Loss, metrics=Metric,optimizer=Optimizer)
  history=bert_model.fit([train_inp,train_mask],train_label,batch_size=64,epochs=100,validation_data=([val_inp,val_mask],val_label),callbacks=[callback])

All model checkpoint layers were used when initializing TFBertForSequenceClassification.

Some layers of TFBertForSequenceClassification were not initialized from the model checkpoint at bert-base-cased and are newly initialized: ['classifier']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Epoch 1/100

INFO:absl:TPU has inputs with dynamic shapes: [<tf.Tensor 'Const:0' shape=() dtype=int32>, <tf.Tensor 'cond_8/Identity:0' shape=(None, 384) dtype=int64>, <tf.Tensor 'cond_8/Identity_1:0' shape=(None, 384) dtype=int64>, <tf.Tensor 'cond_8/Identity_2:0' shape=(None,) dtype=int64>]
INFO:absl:TPU has inputs with dynamic shapes: [<tf.Tensor 'Const:0' shape=() dtype=int32>, <tf.Tensor 'cond_8/Identity:0' shape=(None, 384) dtype=int64>, <tf.Tensor 'cond_8/Identity_1:0' shape=(None, 384) dtype=int64>, <tf.Tensor 'cond_8/Identity_2:0' shape=(None,) dtype=int64>]

12/12 [==============================] - ETA: 0s - loss: 2.6812 - sparse_categorical_accuracy: 0.0789

INFO:absl:TPU has inputs with dynamic shapes: [<tf.Tensor 'Const:0' shape=() dtype=int32>, <tf.Tensor 'cond_8/Identity:0' shape=(None, 384) dtype=int64>, <tf.Tensor 'cond_8/Identity_1:0' shape=(None, 384) dtype=int64>, <tf.Tensor 'cond_8/Identity_2:0' shape=(None,) dtype=int64>]

12/12 [==============================] - 161s 7s/step - loss: 2.6812 - sparse_categorical_accuracy: 0.0789 - val_loss: 2.6162 - val_sparse_categorical_accuracy: 0.1013
Epoch 2/100
12/12 [==============================] - 3s 270ms/step - loss: 2.6023 - sparse_categorical_accuracy: 0.1127 - val_loss: 2.5696 - val_sparse_categorical_accuracy: 0.1181
Epoch 3/100
12/12 [==============================] - 3s 271ms/step - loss: 2.5179 - sparse_categorical_accuracy: 0.1676 - val_loss: 2.4498 - val_sparse_categorical_accuracy: 0.2068
Epoch 4/100
12/12 [==============================] - 3s 272ms/step - loss: 2.3913 - sparse_categorical_accuracy: 0.2648 - val_loss: 2.3538 - val_sparse_categorical_accuracy: 0.2869
Epoch 5/100
12/12 [==============================] - 3s 265ms/step - loss: 2.2675 - sparse_categorical_accuracy: 0.3563 - val_loss: 2.1931 - val_sparse_categorical_accuracy: 0.4262
Epoch 6/100
12/12 [==============================] - 3s 270ms/step - loss: 2.0848 - sparse_categorical_accuracy: 0.5718 - val_loss: 2.0004 - val_sparse_categorical_accuracy: 0.5907
Epoch 7/100
12/12 [==============================] - 3s 272ms/step - loss: 1.9033 - sparse_categorical_accuracy: 0.6732 - val_loss: 1.7977 - val_sparse_categorical_accuracy: 0.6709
Epoch 8/100
12/12 [==============================] - 3s 269ms/step - loss: 1.7247 - sparse_categorical_accuracy: 0.7211 - val_loss: 1.6276 - val_sparse_categorical_accuracy: 0.6835
Epoch 9/100
12/12 [==============================] - 3s 270ms/step - loss: 1.5515 - sparse_categorical_accuracy: 0.7606 - val_loss: 1.4553 - val_sparse_categorical_accuracy: 0.7342
Epoch 10/100
12/12 [==============================] - 3s 268ms/step - loss: 1.3977 - sparse_categorical_accuracy: 0.7803 - val_loss: 1.3034 - val_sparse_categorical_accuracy: 0.7890
Epoch 11/100
12/12 [==============================] - 3s 270ms/step - loss: 1.2437 - sparse_categorical_accuracy: 0.8070 - val_loss: 1.1928 - val_sparse_categorical_accuracy: 0.7806
Epoch 12/100
12/12 [==============================] - 3s 272ms/step - loss: 1.1186 - sparse_categorical_accuracy: 0.8423 - val_loss: 1.0808 - val_sparse_categorical_accuracy: 0.8101
Epoch 13/100
12/12 [==============================] - 3s 273ms/step - loss: 0.9988 - sparse_categorical_accuracy: 0.8690 - val_loss: 0.9830 - val_sparse_categorical_accuracy: 0.8354
Epoch 14/100
12/12 [==============================] - 3s 276ms/step - loss: 0.9030 - sparse_categorical_accuracy: 0.8944 - val_loss: 0.8884 - val_sparse_categorical_accuracy: 0.8439
Epoch 15/100
12/12 [==============================] - 3s 272ms/step - loss: 0.8127 - sparse_categorical_accuracy: 0.9268 - val_loss: 0.8047 - val_sparse_categorical_accuracy: 0.8776
Epoch 16/100
12/12 [==============================] - 3s 273ms/step - loss: 0.7195 - sparse_categorical_accuracy: 0.9282 - val_loss: 0.7205 - val_sparse_categorical_accuracy: 0.8945
Epoch 17/100
12/12 [==============================] - 3s 275ms/step - loss: 0.6434 - sparse_categorical_accuracy: 0.9465 - val_loss: 0.6582 - val_sparse_categorical_accuracy: 0.8945
Epoch 18/100
12/12 [==============================] - 3s 269ms/step - loss: 0.5724 - sparse_categorical_accuracy: 0.9662 - val_loss: 0.6037 - val_sparse_categorical_accuracy: 0.8903
Epoch 19/100
12/12 [==============================] - 3s 270ms/step - loss: 0.5144 - sparse_categorical_accuracy: 0.9676 - val_loss: 0.5597 - val_sparse_categorical_accuracy: 0.9030
Epoch 20/100
12/12 [==============================] - 3s 268ms/step - loss: 0.4607 - sparse_categorical_accuracy: 0.9732 - val_loss: 0.5287 - val_sparse_categorical_accuracy: 0.8987
Epoch 21/100
12/12 [==============================] - 3s 271ms/step - loss: 0.4135 - sparse_categorical_accuracy: 0.9803 - val_loss: 0.4929 - val_sparse_categorical_accuracy: 0.9114
Epoch 22/100
12/12 [==============================] - 3s 270ms/step - loss: 0.3688 - sparse_categorical_accuracy: 0.9873 - val_loss: 0.4711 - val_sparse_categorical_accuracy: 0.9072
Epoch 23/100
12/12 [==============================] - 4s 330ms/step - loss: 0.3308 - sparse_categorical_accuracy: 0.9901 - val_loss: 0.4387 - val_sparse_categorical_accuracy: 0.9198
Epoch 24/100
12/12 [==============================] - 3s 269ms/step - loss: 0.3009 - sparse_categorical_accuracy: 0.9915 - val_loss: 0.4223 - val_sparse_categorical_accuracy: 0.9114
Epoch 25/100
12/12 [==============================] - 3s 271ms/step - loss: 0.2736 - sparse_categorical_accuracy: 0.9958 - val_loss: 0.4103 - val_sparse_categorical_accuracy: 0.9114
Epoch 26/100
12/12 [==============================] - 3s 271ms/step - loss: 0.2468 - sparse_categorical_accuracy: 0.9944 - val_loss: 0.3880 - val_sparse_categorical_accuracy: 0.9198
Epoch 27/100
12/12 [==============================] - 3s 271ms/step - loss: 0.2251 - sparse_categorical_accuracy: 0.9944 - val_loss: 0.3895 - val_sparse_categorical_accuracy: 0.9114
Epoch 28/100
12/12 [==============================] - 3s 278ms/step - loss: 0.2088 - sparse_categorical_accuracy: 0.9986 - val_loss: 0.3684 - val_sparse_categorical_accuracy: 0.9241
Epoch 29/100
12/12 [==============================] - 3s 282ms/step - loss: 0.1916 - sparse_categorical_accuracy: 0.9972 - val_loss: 0.3626 - val_sparse_categorical_accuracy: 0.9283
Epoch 30/100
12/12 [==============================] - 3s 275ms/step - loss: 0.1753 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3516 - val_sparse_categorical_accuracy: 0.9156
Epoch 31/100
12/12 [==============================] - 3s 274ms/step - loss: 0.1627 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3508 - val_sparse_categorical_accuracy: 0.9114
Epoch 32/100
12/12 [==============================] - 3s 272ms/step - loss: 0.1492 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3449 - val_sparse_categorical_accuracy: 0.9030
Epoch 33/100
12/12 [==============================] - 3s 270ms/step - loss: 0.1416 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3382 - val_sparse_categorical_accuracy: 0.9198
Epoch 34/100
12/12 [==============================] - 3s 273ms/step - loss: 0.1316 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3292 - val_sparse_categorical_accuracy: 0.9156
Epoch 35/100
12/12 [==============================] - 3s 274ms/step - loss: 0.1247 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3240 - val_sparse_categorical_accuracy: 0.9198
Epoch 36/100
12/12 [==============================] - 3s 271ms/step - loss: 0.1169 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3167 - val_sparse_categorical_accuracy: 0.9198
Epoch 37/100
12/12 [==============================] - 3s 271ms/step - loss: 0.1093 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3152 - val_sparse_categorical_accuracy: 0.9114
Epoch 38/100
12/12 [==============================] - 3s 272ms/step - loss: 0.1035 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3107 - val_sparse_categorical_accuracy: 0.9114
Epoch 39/100
12/12 [==============================] - 3s 275ms/step - loss: 0.0976 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3066 - val_sparse_categorical_accuracy: 0.9283
Epoch 40/100
12/12 [==============================] - 3s 276ms/step - loss: 0.0931 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3141 - val_sparse_categorical_accuracy: 0.9156
Epoch 41/100
12/12 [==============================] - 3s 273ms/step - loss: 0.0891 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3060 - val_sparse_categorical_accuracy: 0.9198
Epoch 42/100
12/12 [==============================] - 3s 273ms/step - loss: 0.0840 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.3002 - val_sparse_categorical_accuracy: 0.9198
Epoch 43/100
12/12 [==============================] - 3s 272ms/step - loss: 0.0801 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2981 - val_sparse_categorical_accuracy: 0.9156
Epoch 44/100
12/12 [==============================] - 3s 271ms/step - loss: 0.0783 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2945 - val_sparse_categorical_accuracy: 0.9198
Epoch 45/100
12/12 [==============================] - 3s 274ms/step - loss: 0.0738 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2923 - val_sparse_categorical_accuracy: 0.9156
Epoch 46/100
12/12 [==============================] - 3s 273ms/step - loss: 0.0716 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2933 - val_sparse_categorical_accuracy: 0.9198
Epoch 47/100
12/12 [==============================] - 3s 276ms/step - loss: 0.0683 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2905 - val_sparse_categorical_accuracy: 0.9198
Epoch 48/100
12/12 [==============================] - 3s 270ms/step - loss: 0.0662 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2894 - val_sparse_categorical_accuracy: 0.9156
Epoch 49/100
12/12 [==============================] - 3s 271ms/step - loss: 0.0633 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2976 - val_sparse_categorical_accuracy: 0.9241
Epoch 50/100
12/12 [==============================] - 3s 274ms/step - loss: 0.0609 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2920 - val_sparse_categorical_accuracy: 0.9198
Epoch 51/100
12/12 [==============================] - 3s 272ms/step - loss: 0.0588 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2954 - val_sparse_categorical_accuracy: 0.9241
Epoch 52/100
12/12 [==============================] - 3s 272ms/step - loss: 0.0569 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2895 - val_sparse_categorical_accuracy: 0.9241
Epoch 53/100
12/12 [==============================] - 3s 274ms/step - loss: 0.0552 - sparse_categorical_accuracy: 1.0000 - val_loss: 0.2951 - val_sparse_categorical_accuracy: 0.9198

In [14]:
# Split texts (raw data) into train and validation sets so that validation set can be examined.

X_tr, X_ts, Y_tr, Y_ts=train_test_split(data['clean text'],data['Label'],test_size=0.25, random_state=337)

# Make a table for the validation set alone
val_set = pd.DataFrame(X_ts)
val_set['Label'] = Y_ts
y_true = list(Y_ts)

In [56]:
#Obtain predicted categories from the trained BERT model

pred = bert_model([val_inp,val_mask])

In [57]:
# predicted for predicted label
# pred_cat for predicted category name
# true_cat for actual category
predicted, pred_cat, true_cat = rev_label(pred, X_ts, y_true)

val_set['predicted'] = predicted
val_set['true_cat'] = true_cat
val_set['pred_cat'] = pred_cat

In [58]:
print('Incorrectly predicted news pieces in total:',len(val_set[val_set['Label']!=val_set['predicted']]))
val_set[val_set['Label']!=val_set['predicted']]

Incorrectly predicted news pieces in total: 19

                                            clean text  ...       pred_cat
626  Iron Tools Dating to Byzantine Period Uncovere...  ...       Iron Age
267  Civil Complaint Requests Artifact’s Return to ...  ...       Egyptian
551  Symptoms of Heart Disease Detected in Inuit Mu...  ...    Paleolithic
945  Early Alphabet Spotted on Jar Fragment in Isra...  ...       Egyptian
269  A Persian Military Outpost Identified in Israe...  ...       Egyptian
860  Prehistoric Stone Circle Studied in Scotland. ...  ...      Neolithic
311  Mosaics Revealed in Fourth-Century Church in T...  ...       Iron Age
173  Artifacts Unearthed at Estate Site in Scotland...  ...       Medieval
854  Colonization of the Americas May Have Cooled G...  ...  Pre-Columbian
338  Fossil Reefs Yield Evidence of Prehistoric Mea...  ...    Paleolithic
386  Early Christian Church Unearthed in Turkey. DE...  ...       Iron Age
919  Alutiiq Fish Trap Spotted From the Air in Alas...  ...    Paleolithic
754  Gemstone Workshop Discovered at Medieval Islan...  ...       Medieval
296  String Marks Detected on 120,000-Year-Old Pain...  ...    Paleolithic
304  Second Viking Ship Burial Detected on Norway’s...  ...       Iron Age
189  Possible Victorian Walkway Uncovered at Englis...  ...       Medieval
709  5,000-Year-Old Egyptian Settlement Uncovered i...  ...     Bronze Age
42   Floodwaters Threaten Sudan’s Ancient Pyramids....  ...     Bronze Age
937  Fifth-Century Church Discovered Near Black Sea...  ...          Roman

[19 rows x 5 columns]

In [18]:
# Contains test data set which is somewhat more difficult than any validation set
# Test data set has only 1 label per news story
Easy_test = pd.read_csv('ARCHAIC_test.csv')

In [19]:
# A place to assure there are no duplicates from the training set in the test sets
DUP = []
arch_testing = list(Easy_test['url'])
for j in range(len(data['url'])):
  if data.at[j,'url'] in arch_testing:
    DUP.append(data.at[j,'url'])
    print(j)
  else:
    pass

#If there is anything in DUP, it has to be removed from the test data set.
DUP

[]

In [20]:
# Create a numerical label column for the Easy_test table
Easy_test, Easy_len=col_label(Easy_test)

# encode the texts in Easy_test
test_input_ids, test_attention_masks, test_labels = Encode(Easy_test)

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
/usr/local/lib/python3.7/dist-packages/transformers/tokenization_utils_base.py:2190: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  FutureWarning,

In [59]:
# Predicting news category on the test set
Easy_test_pred = bert_model([test_input_ids,test_attention_masks])

# Add predicted label and category columns to the Easy_test table
es_predicted, es_pred_cat, es_true_cat = rev_label(Easy_test_pred, Easy_test['clean text'], test_labels)

Easy_test['predicted'] = es_predicted
Easy_test['true_cat'] = es_true_cat
Easy_test['pred_cat'] = es_pred_cat

In [60]:
print('Wrongly predicted news pieces from test set:',len(Easy_test[Easy_test['Label']!=Easy_test['predicted']]))
Easy_test[Easy_test['Label']!=Easy_test['predicted']][['clean text','category','pred_cat']]

Wrongly predicted news pieces from test set: 133

                                            clean text  ...              pred_cat
0    Nomadic Warriors’ Remains Unearthed in Croatia...  ...                 Roman
1    New Study Suggests Measles Virus is 2,500 Year...  ...             East Asia
3    Ancient Hue Detected in Renaissance Painting. ...  ...                 Roman
6    New Date Pinpoints Construction of Medieval Uy...  ...             East Asia
26   Possible Traces of Antebellum Home Unearthed i...  ...       Native American
31   Remains of Fish Dinners May Reflect Climate Ch...  ...           Paleolithic
34   Soviet Shortwave Spy Radio Unearthed in Wester...  ...                 Roman
39   Researchers Will Search for Spanish Treasure S...  ...                Modern
75   16th-Century Manuscript Attributed to Queen El...  ...                 Roman
79   Snail “Clocks” Offer Clues to Ancient Oyster H...  ...           Paleolithic
80   Napoleonic-Era Field Kitchen Discovered in Gue...  ...            Bronze Age
83   Did Human Hunters Alone Wipe Out the Great Auk...  ...             Neolithic
84   1,000-Year-Old Ship Burial Found in Norway. OS...  ...             Neolithic
99   Seventeenth-Century Hawking Ring Found in Engl...  ...                Modern
106  Lidar Survey Detects Ring Cairn in Gloucesters...  ...            Bronze Age
112  Genetic Analysis Links Scottish Highland Skele...  ...              Iron Age
115  Study Shows Shellfish Thrived in Canada's Anci...  ...           Paleolithic
116  1,000-Year-Old Iron Weapon Found in Norway. HA...  ...             Neolithic
117  Excavators Return to 18th-Century Pub Site in ...  ...              Medieval
130  Ancient Statue Unearthed on Turkish Coast. ANT...  ...              Iron Age
135  Possible Pictish Cemetery Found in Scotland. R...  ...             Neolithic
142  19th-Century Industrial Site Excavated in New ...  ...       Native American
144  Iron Age Village Unearthed in Western India. M...  ...              Iron Age
150  Ottoman-Era Tunnel Found in Ancient Tomb. PLOV...  ...                 Roman
157  Ancient Industrial Structures Unearthed on Cyp...  ...              Iron Age
173  Germany Repatriates Ancient Sculpture to Italy...  ...              Iron Age
181  Colonial-Era Home Excavated in New Hampshire. ...  ...       Native American
185  Second-Century Engraving Unearthed in Bulgaria...  ...              Iron Age
194  Herders and Hunter-Gatherers Shared Genes in E...  ...           Paleolithic
195  Ancient Tomb Unearthed in Bulgaria. SOFIA, BUL...  ...              Iron Age
197  Who Were Scotland’s First Famers?. ABERDEENSHI...  ...            Bronze Age
203  City Gate Discovered at Bulgaria’s Ancient Cit...  ...              Iron Age
204  Tiny Tools From Israel’s Qesem Cave Analyzed. ...  ...           Paleolithic
209  300,000-Year-Old Fossils Discovered in China. ...  ...           Paleolithic
220  DNA Extracted From Sweden’s Prehistoric “Chewi...  ...             Neolithic
222  Altar Dedicated to Nemesis Uncovered in Mytile...  ...              Iron Age
227  Ancient Climate Linked to Dip in South America...  ...           Paleolithic
243  Byzantine-Era Structures Identified at Istanbu...  ...              Iron Age
244  Toppled Trees in Florida Reveal 19th-Century F...  ...       Native American
247  Artifacts Push Back Possible Settlement of Ama...  ...         Pre-Columbian
251  Possible Sons of Crusaders Identified in Medie...  ...             Near East
253  13,500-Year-Old Burial Unearthed in China. GUA...  ...             East Asia
255  Scientists Analyze 2,000-Year-Old Remains in P...  ...             Neolithic
258  Migrant Farmers May Have Replaced Britain’s Hu...  ...            Bronze Age
263  Possible New Early Human Discovered in the Phi...  ...             Pre-Human
267  Excavations Reveal Traces of Greek Island’s Me...  ...              Iron Age
278  Norway to Return Easter Island Artifacts. SANT...  ...         Pre-Columbian
280  Researchers Create 3-D Model of Fifteenth-Cent...  ...             Near East
282  Etruscan Tomb Unearthed in Corsica. ALERIA, CO...  ...                 Roman
285  Seventeenth-Century Artifacts Unearthed in Con...  ...       Native American
289  Boat Described by Herodotus Discovered in Nile...  ...              Egyptian
297  Whalers’ Rock Art Recorded in Northwestern Aus...  ...           Paleolithic
299  Spanish Researchers Begin New World Shipwreck ...  ...                Modern
308  Obsidian Trade in Poland Dates Back At Least 2...  ...             Neolithic
322  Archaeologists Investigate Florida’s Cape Cana...  ...       Native American
336  Evidence of Earliest British Beer Discovered. ...  ...            Bronze Age
339  New Thoughts on the Analysis of Cremated Remai...  ...              Medieval
341  When Did Sailors First Cross the Strait of Gib...  ...              Medieval
349  Stone Age Site Discovered in Norway. STAVANGER...  ...             Neolithic
355  Dogs May Have Helped Humans Hunt 11,500 Years ...  ...             Near East
356  Submerged Prehistoric Site Discovered in Scotl...  ...             Neolithic
362  Copper-Age Axes Unearthed in Bulgaria. POLKOVN...  ...            Bronze Age
388  2,000-Year-Old Copper Figurine Unearthed in En...  ...            Bronze Age
403  Germanic Cemetery in Poland Investigated. GORZ...  ...             Neolithic
416  Fresh DNA Analysis Revises Bronze Age Woman’s ...  ...            Bronze Age
420  Stone Tool Workshop Unearthed in Tibet. BEIJIN...  ...             Pre-Human
428  Celtic Coins Unearthed in Slovakia. NITRA, SLO...  ...             Neolithic
433  Ottoman-Era Turbah Unearthed in Slovakia. FIL’...  ...             Near East
434  New Thoughts on Prehistoric Tool Making in Chi...  ...           Paleolithic
454  What Caused Skeletal Abnormalities in Early Hu...  ...           Paleolithic
462  Fossils Offer Insights Into Possible Route Out...  ...           Paleolithic
463  Decorations Revealed on Conserved Spanish Armo...  ...                Modern
465  Early English Colony Excavated in Connecticut....  ...                Modern
471  New Dates Obtained for Scotland’s Pictish Symb...  ...              Medieval
482  Ancient Human Remains Retrieved From Burned Mu...  ...             Neolithic
488  Amulet Shaped Like Thor’s Hammer Uncovered in ...  ...             Neolithic
517  Thousands of Petroglyphs Uncovered in Western ...  ...  South&Southeast Asia
532  Shipwreck Discovered Near Portugal. LISBON, PO...  ...             East Asia
551  Evidence of 13,000-Year-Old Beer Found in Isra...  ...             Near East
572  Iberian Amber Traced to Sicily. GRANADA, SPAIN...  ...            Bronze Age
579  Cold Spells May Have Doomed Neanderthals. COLO...  ...             Pre-Human
580  Cape Cod Dig Reveals 17th-Century Settlement. ...  ...                Modern
592  5,000-Year-Old Cemetery Excavated in Kenya. ST...  ...            Bronze Age
603  Christian Pectoral Cross Unearthed in Bulgaria...  ...              Iron Age
619  Heat Wave Reveals Castle Outline in Ireland. C...  ...              Medieval
623  Bimah Discovered at Site of Lithuania’s Great ...  ...             Near East
632  Three Hundred Years of History Uncovered in Qu...  ...       Native American
633  Early Agriculture in the Jordan Valley. TEL TS...  ...             Near East
648  Colonial-Era Artifacts Uncovered in Michigan. ...  ...       Native American
651  New Dates for Ancient Arctic Fibers. PROVIDENC...  ...             Neolithic
662  Bits of Ancient Bread Unearthed in Jordan. COP...  ...             Near East
668  Unusual 2,500-Year-Old Skull Found in Burial C...  ...           Paleolithic
672  New Thoughts on Human Evolution. JENA, GERMANY...  ...             Pre-Human
700  Colonial-Era Graves Unearthed in St. Augustine...  ...                Modern
704  Shipwreck Unearthed in Denmark. VORDINGBORG, D...  ...                Modern
707  Ötzi the Iceman’s Copper-Age Tools Analyzed. F...  ...            Bronze Age
721  1719 Battlefield Site Surveyed in Scotland. WE...  ...              Medieval
724  3,000-Year-Old Road Will Be Preserved in Irela...  ...             Neolithic
725  Possible Forgotten Illyrian City Found in Alba...  ...                 Roman
731  Did Most Men Die Off 7,000 Years Ago?. STANFOR...  ...           Paleolithic
732  Small, Sculpted Head May Depict Ancient King. ...  ...             Near East
735  Intact Tomb Dating to Fourth Century B.C. Foun...  ...                 Roman
736  Seventeenth-Century Cellar Identified at James...  ...                Modern
738  Icelanders' Genetic Heritage Analyzed. REYKJAV...  ...             Neolithic
739  New Dates Push Back Use of Olive Oil in Italy....  ...             Neolithic
756  30,000-Year-Old Modern Human Bones Found in Si...  ...             Pre-Human
764  Evidence of Donkey Riding Found in Central Isr...  ...              Iron Age
776  Genetic Study Estimates Number of First New Wo...  ...       Native American
778  Hepatitis B Detected in 4,500-Year-Old Remains...  ...            Bronze Age
801  Well-Preserved Chariot Horse Found in Sudan. S...  ...            Bronze Age
805  New Dates Obtained for Russia’s Shigir Idol. Y...  ...             Neolithic
807  New Thoughts on Shovel-Shaped Teeth. BERKELEY,...  ...       Native American
815  Looted Artifacts Repatriated to Romania. BUCHA...  ...              Iron Age
819  Egyptian Papyrus Retells Biblical Story of Abr...  ...              Egyptian
822  Skeletal Study of Custer’s Men Questions Suici...  ...       Native American
824  Asian Ancestors Detected in DNA Study in Mexic...  ...         Pre-Columbian
830  Cache of Meroitic Texts Recovered in Sudan. KH...  ...              Egyptian
835  Historic Slaughterhouse Unearthed in Scotland....  ...              Medieval
836  Stone Age Scandinavians May Have Relied on Fis...  ...             Neolithic
847  Coin Hoard Unearthed Near Corinth’s Harbor. BR...  ...              Iron Age
877  Tool Discovery Pushes Back Onset of Middle Sto...  ...             Pre-Human
881  Ancient Port City Found Near Naples. NAPLES, I...  ...                 Roman
894  Cannonballs Unearthed at Malaysia’s Fort Cornw...  ...  South&Southeast Asia
898  Spanish Pistol Part Identified in Colorado. ME...  ...       Native American
911  Aphrodite Sculpture and Mosaics Found in Greec...  ...              Iron Age
913  Early Stone Tools Found in Eastern India. ODIS...  ...  South&Southeast Asia
916  Large-Scale Study Examines Spread of Beaker Cu...  ...             Neolithic
921  Scientists Recover Ancient Taino DNA. CAMBRIDG...  ...       Native American
929  Ice-Age Artifacts Dated in the Netherlands. LE...  ...           Paleolithic
930  Sweden’s Underwater Hunter-Gatherer Burial. VÄ...  ...           Paleolithic
937  High-Quality Mosaic Uncovered in Caesarea. CAE...  ...             Near East
939  Scientists Map Cheddar Man’s Genome. LONDON, E...  ...             Neolithic
944  Chinese Mummies Unearthed in Peru. LIMA, PERU—...  ...         Pre-Columbian

[133 rows x 3 columns]

In [61]:
# Accuracy for the main test set (1 label)

ACCU = sklearn.metrics.accuracy_score(Easy_test['Label'], Easy_test['predicted'], normalize=True, sample_weight=None)
print('Easy_test Accuracy =',round((ACCU*100),2))

Easy_test Accuracy = 85.93

There are news stories which cannot be assigned to a single category as the content shows an overlap of 2 categories or more. Each news piece in the test data set below has been given 2 labels only for simplicity even though some of them are relevant to 3 categories. The news stories below are considered much more difficult to classify than the single-label test data set.

In [34]:
# A different test data set with 2 classes assgined to each news story
Hard_test = pd.read_csv('ARCHAIC_2labels.csv')

# Assign the primary label first (not necessarily the dominant class)
Hard_test, Hard_over_384 = col_label(Hard_test)

In [62]:
# Set up the numerical label column for the 2nd category
Hard_test['2nd_Label'] = 0 # want integers only
pair = []

for i in Hard_test.index:
      
  Hard_test.at[i,'2nd_Label'] = CL[Hard_test.at[i,'2nd category']]
  b = Hard_test.at[i,'2nd_Label']
  a = Hard_test.at[i,'Label']
  twin = [a,b]
  pair.append(twin)

# Add a column with a list of two numerical labels for each news piece
Hard_test['twin label'] = pair

In [63]:
Hard_input_ids,Hard_attention_masks, Hard_labels = Encode(Hard_test)
Hard_test_pred = bert_model([Hard_input_ids,Hard_attention_masks])

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
/usr/local/lib/python3.7/dist-packages/transformers/tokenization_utils_base.py:2190: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  FutureWarning,

In [64]:
# Collect predicted twin labels using the argsort function. The last two positions in the argsort results give max. and 2nd highest probability values
hd_predicted =[]

for l in range(len(Hard_test)):
  twin_index= (np.argsort(Hard_test_pred[0][l]))[-2 :]
  hd_predicted.append(twin_index)

Hard_test['predicted'] = hd_predicted

In [65]:
# Rearrange the order of columns in the table for readability
Hard_test = Hard_test[['url','clean text','category','2nd category','Label','2nd_Label','twin label','predicted']]

In [66]:
Hard_test[['clean text','category','2nd category','Label','2nd_Label','twin label','predicted']]

                                            clean text  ... predicted
0    Finds Spanning 4,000 Years Unearthed in Southe...  ...   [11, 2]
1    Genome Study Yields New Date for Arrival of TB...  ...  [13, 11]
2    Early Christian Chalice Unearthed in Northern ...  ...   [13, 9]
3    Multidisciplinary Study Tracks Spread of Rice ...  ...   [12, 6]
4    Possible Ancient Longboat Recovered in Ireland...  ...  [13, 11]
5    Three Well-Preserved Ancient Boats Unearthed i...  ...   [13, 9]
6    Leather Balls Found in Ancient Graves in North...  ...   [2, 12]
7    Volunteers Spot New Sites in Aerial Images of ...  ...   [13, 9]
8    Snake Altar Unearthed in Turkey. ANTALYA, TURK...  ...    [7, 2]
9    Study Examines Food and Gender in Bronze Age C...  ...   [12, 7]
10   Main Gate Discovered at Harran Palace. SANLIUR...  ...    [5, 2]
11   Rock Art Discovered in Remote Cave in Thailand...  ...    [6, 8]
12   Poland’s Prehistoric Diet Analyzed. WARSAW, PO...  ...   [7, 11]
13   Evidence of Ancient Surgery Unearthed in Greec...  ...    [2, 9]
14   Roles of Hunter-Gatherer Women Reevaluated. RE...  ...   [12, 1]
15   Glacial Ice Melt Reveals Hundreds of Artifacts...  ...   [13, 2]
16   Study Suggests New Dates for Spread of Farming...  ...   [11, 8]
17   2,000-Year-Old Date Seeds Sprout in Israel. JE...  ...    [2, 5]
18   Roman and Anglo-Saxon Graves Uncovered in Engl...  ...   [13, 9]
19   Monkey from Southern Asia Identified in Ancien...  ...    [2, 7]
20   Unusually Shaped Stones Unearthed in Prehistor...  ...   [7, 11]
21   Iron Age Amulet from Egypt Unearthed in Oman. ...  ...    [3, 2]
22   DNA Study Tracks Ancestry of Today’s Finns. HE...  ...  [11, 13]
23   20th-Century Artifact Found in 15th-Century Es...  ...  [10, 13]
24   Roman Catacomb Discovered in Egypt. KANAZAWA, ...  ...    [9, 3]
25   Archaeologist Maps Iceland’s Historic Shipwrec...  ...  [11, 13]
26   Remnants of Ancient Wall Identified in Iran. T...  ...    [7, 2]
27   Lidar Technology Spots Archaeological Sites in...  ...  [13, 11]
28   Study Reveals Ancient Fish-Cleaning Techniques...  ...    [5, 3]
29   Migration May Have Contributed to Iron Age Cha...  ...    [2, 7]
30   Chimpanzees Observed Fishing for Freshwater Cr...  ...    [8, 4]
31   Possible Bishop's Tomb Dating to Holy Roman Em...  ...   [13, 9]
32   New Thoughts on France’s Tumulus des Sables. C...  ...    [2, 7]
33   Archaeologists Brew Drinks With Revived Ancien...  ...    [3, 5]
34   Jomon Woman’s Genome Decoded in Japan. TOKYO, ...  ...   [5, 12]
35   Traces of Siberian Genes Detected in Some Nort...  ...   [11, 7]
36   Bronze Age Rock Art Discovered in China. GANSU...  ...    [2, 7]
37   Greco-Roman Era Tomb Found in Upper Egypt. CAI...  ...    [7, 3]
38   Possible Ritual Burials Discovered in Oxfordsh...  ...   [11, 2]
39   Colonial-Era Trash Pit Found in Maryland. ANNA...  ...    [1, 7]
40   Iron Age Settlement Uncovered in Thailand. LOP...  ...    [7, 2]
41   4,000-Year-Old Rock Art Discovered in Inner Mo...  ...   [7, 12]
42   Monument Offers Clues to Size of Cleopatra’s U...  ...    [2, 9]
43   Italy Returns Ancient Artifacts to China. ROME...  ...  [11, 12]
44   New Thoughts on the Origins of Iron Smelting i...  ...    [7, 2]
45   2,500-Year-Old Pottery Fragment May Depict Jok...  ...    [5, 3]
46   DNA Study Investigates Migrations to Canary Is...  ...   [13, 9]
47   Roman Tile Factory Unearthed in Northern Engla...  ...    [2, 9]
48   Pig Bone Analysis Offers Hints to Human Travel...  ...   [7, 11]
49   Scientists Discuss “Bioarchaeology of Care”. B...  ...    [0, 3]
50   Dental Plaque Hints at Diet in Ancient Mongoli...  ...   [11, 7]
51   High-Tech Map Made of Scottish Islands. GLASGO...  ...   [11, 7]
52   Triangle Markings Studied in Chalcolithic Ston...  ...   [7, 11]
53   Scientists Analyze 100,000-Year-Old Child’s Te...  ...    [8, 4]
54   Medieval Copper Production Settlement Found in...  ...    [3, 5]
55   Rare Human Remains Recovered in Central Americ...  ...    [1, 0]
56   Roman-Period Sarcophagi Found in Egypt. DAMIET...  ...    [9, 3]
57   Byzantine Churches Uncovered in Cyprus. AKROTI...  ...   [13, 2]
58   New Dates Revealed for Stone Circle in Scotlan...  ...  [13, 11]
59   U.S. Repatriates Coins to Cyprus. BALTIMORE, M...  ...    [2, 9]
60   New Thoughts on Neanderthal Head Injuries. TÜB...  ...    [8, 4]
61   Genetic Studies Attempt to Track Peopling of t...  ...    [0, 1]
62   Byzantine Fortress Investigated in Bulgaria. S...  ...   [13, 2]
63   17th-Century Palisade Uncovered in Quebec City...  ...  [10, 13]
64   Prehistoric Ax Discovered in Virginia. FAIRFAX...  ...   [11, 8]
65   Megalithic Statues Discovered in Indonesia. JA...  ...   [8, 11]
66   Prehistoric Cremation Urns Unearthed in Englan...  ...   [8, 11]
67   Scientists Analyze Roman “Red Dust”. GLASGOW, ...  ...    [2, 9]
68   Five Shipwrecks Found Near Greece’s Fourni Isl...  ...    [9, 2]
69   17th-Century Spanish Mission Building Studied ...  ...   [1, 10]
70   Sock from Roman Egypt Analyzed. LONDON, ENGLAN...  ...    [3, 9]
71   Archaeologists Examine Graffiti at Aizanoi’s T...  ...    [7, 2]
72   Ancient Cemetery and Neolithic Village Found i...  ...  [13, 11]
73   Archaeologists Look for Evidence of Past Child...  ...    [2, 7]
74   Ancient Gold and Pearls Discovered on Danish I...  ...   [13, 9]
75   Sixth-Century Cemeteries Offer Clues to “Barba...  ...   [13, 9]
76   Neolithic Farming Site Found in Nile Delta. DA...  ...   [7, 11]
77   Hidden Cave Door Found Under Scottish Castle. ...  ...   [2, 13]
78   Remains of a Slovak Manor House Unearthed. BRA...  ...   [2, 11]
79   Mass Grave Unearthed in Sri Lanka. MANNAR, SRI...  ...   [10, 6]
80   Archaeological Sites Discovered On and Around ...  ...    [9, 2]
81   Ancestral Puebloans May Have Bred Scarlet Maca...  ...    [0, 1]
82   Potters’ Break Room Found in Central Israel. G...  ...   [13, 9]
83   1,700-Year-Old Marble Bust Unearthed in Turkey...  ...    [2, 9]
84   Byzantine- and Roman-era Rooms Uncovered in Eg...  ...    [9, 3]
85   Henge Site Spotted in Ireland’s Boyne Valley. ...  ...   [7, 11]
86   Traces of Roman and Medieval Industry Found in...  ...   [13, 9]
87   Mongolia’s Earliest Evidence of Equine Dentist...  ...    [2, 7]
88   Complete Jars Recovered From Cliffside Cave in...  ...    [9, 5]
89   Possible Sacrifice Victims Unearthed at Henge ...  ...    [2, 7]
90   Seventeenth-Century Danish Latrines Analyzed. ...  ...  [10, 13]
91   Seventh-Century Inscription Found at Tintagel ...  ...   [9, 13]
92   Spanish Galleon Wreckage Discovered Off Coast ...  ...  [13, 10]
93   Bronze Age Burial Excavated in England. CORNWA...  ...    [2, 7]
94   Pottery Inscription Provides New Dates for Jav...  ...   [6, 12]
95   Greek Inscriptions Found at Roman-Era Temple i...  ...    [9, 3]
96   Oslo Fjord’s Stone Age Settlements. OSLO, NORW...  ...   [11, 7]
97   New Thoughts on the Spread of the Justinian Pl...  ...    [9, 2]
98   Medieval Egyptian Pottery Found in Bulgaria. P...  ...    [5, 3]
99   Flint Tools Found in Australia Were Made With ...  ...   [10, 8]
100  6,000 Years on a Landscape in East England Rev...  ...  [13, 11]
101  Utrecht Inhabited Far Longer Than Previously T...  ...   [8, 11]
102  Cannons Unearthed at Malaysia’s Fort Cornwalli...  ...   [10, 6]
103  Roman-Era Temple Unearthed in Upper Egypt. ASW...  ...    [9, 3]
104  Study Re-creates 8,000-Year-Old Projectiles. F...  ...    [1, 8]
105  Early Agricultural Hotspot Found in Amazonia. ...  ...    [8, 0]
106  Roadwork Reveals Traces of Southwest Ireland’s...  ...   [7, 11]

[107 rows x 7 columns]

In [68]:
# Dictionary reference
CL

{'Bronze Age': 7,
 'East Asia': 12,
 'Egyptian': 3,
 'Iron Age': 2,
 'Medieval': 13,
 'Modern': 10,
 'Native American': 1,
 'Near East': 5,
 'Neolithic': 11,
 'Paleolithic': 8,
 'Pre-Columbian': 0,
 'Pre-Human': 4,
 'Roman': 9,
 'South&Southeast Asia': 6}

In [67]:
# Custom scoring - both labels correct - 1, only one label correct - 0.5

score = 0

for j in Hard_test.index:
  if (Hard_test.at[j,'predicted'])[0] in Hard_test.at[j,'twin label']:
    score += 0.5
  else:
    pass
  if (Hard_test.at[j,'predicted'])[1] in Hard_test.at[j,'twin label']:
    score += 0.5
  else:
    pass

print('two-label accuracy =', round(score/(len(Hard_test))*100,2))

two-label accuracy = 75.23